<% content_for :head do %>
  <meta property="og:type" content="website"/>
<% end %>

<% content_for :sidebar do %>
  <div class="window">
    <%= render :partial => 'layouts/announcements' %>
  </div>
<% end %>

<% if Rails.env.production? #&& user_signed_in? %>
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Produktivumgebung!</strong> Bitte nutzen Sie die <a href="http://tgt.ddns.net:8080/">Testumgebung</a> um Features auszuprobieren
  </div>
<% elsif Rails.env.staging? #&& user_signed_in? %>
  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Testumgebung</strong> Viel Spaß beim herumspielen - <a href="http://tgt.ddns.net:80/">zur Produktivumgebung</a>
  </div>
<% end %>

<div class="window box">
  <h3><%= t ".training_offer" %></h3>
  <p><%= raw t(".training_offer_sentence", :link => link_to(t("general.here"), search_training_groups_path)) %></p>
</div>
<div class="">
  <% cache([:excerpts_large, cache_key_for(@messages)], skip_digest: true) do %>
    <% @messages.each do |message| %>
      <div class="window">
        <%= render :partial => 'messages/message_excerpt', :locals => { :message => message, :size => :large } %>
      </div>
    <% end %>
  <% end %>
</div>

<% if false %><div class="window box">
  <h3><%= t ".news_archive" %></h3>
  <p><%= raw t(".news_archive_sentence", :link => link_to(t("general.here").capitalize, messages_path)) %></p>
</div><% end %>

<%= link_to messages_path, class: 'window box obtrusive quick-link' do %>
  <%= fa_icon 'chevron-circle-right' %> <%= t(".news_archive") %> <%#= t(".news_archive_sentence", :link => t("general.here")) %>
<% end %>