<div class="window box">
  <h3><%= t ".training_offer" %></h3>
  <p><%= raw t(".training_offer_sentence", :link => link_to(t("general.here"), search_training_groups_path)) %></p>
</div>
<div class="window">
  <%= render :partial => 'messages/message_excerpt', :collection => @messages, :as => :message, :locals => { :size => :large } %>
</div>
<div class="window box">
  <h3><%= t ".news_archive" %></h3>
  <p><%= raw t(".news_archive_sentence", :link => link_to(t("general.here").capitalize, messages_path)) %></p>
</div>