<%= render :partial => 'shared/tinymce', :locals => { :path => "/departments/#{@message.department.id}" } %>
<%= simple_form_for(shallow_args(@department, @message), :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%#= f.association :department %>
    <%= f.input :content, as: :text, input_html: { class: 'tinymce' }  %>

    <%= f.simple_fields_for :image do |image_form| %>
      <%#= image_form.input :file, :as => :file %>
      <%= render 'images/image_selector', f:image_form, image:@message.image %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
