<%# see: http://m5designstudio.com/2013/orlando-web-design/bootstrap-responsive-layout/ %>
<div class="message-excerpt box">
  <div class="row">
    <%= content_tag :div, :class => "message-image col-md-3 col-xs-5" do %>
      <%= link_to(image_tag(message.image.file_url(:_260x180), :class => "img-responsive", size: "260x180"), message.image.file_url, :class => "fancybox", :rel => 'messages', :caption => message.title) %>
    <% end if message.image.present? %>
    <%= content_tag :div,
      :class => (message.image.present? ? "col-md-9 col-xs-7" : "col-md-12 col-xs-12") do %>
      <div class="message-header">
        <div class="message-title"><%= message.title %></div>
        <div class="message-date"><%= localize( message.created_at.to_date, :format => :long ) %></div>
      </div>
      <div class="message-content">
        <%= truncate(strip_tags(message.content), length: 320, omission: '', :separator => ' ') %>
        <%= link_to "...#{t 'general.more'}", message, :class => 'btn-link' %>
      </div>
    <% end %>
  </div>
</div>