<%

case size
when :small
  image_size = '64x48'
  thumb_type = :thumb
  text_length = 120
when :large
  image_size = '130x90'
  thumb_type = :_260x180
  text_length = 320
end

%>

<!-- <div class="publication-marker topright mediaOverlay <%= message.published? ? 'published' : 'unpublished' %>" title="<%= message.published? ? t('general.published') : t('general.unpublished') %>" data-toggle="tooltip"></div> -->
<div class="window box">
  <div class="media message-excerpt <%= size %>">
    <% if message.thumb.present? %>
      <% image = image_tag(message.thumb.file_url(thumb_type), :class => "media-object", size: image_size) %>
      <%= link_to(image, message.thumb.file_url,
        :class => ['fancybox', size == :small ? 'pull-right' : 'pull-left'],
        :rel => 'messages', :caption => message.name) %>
    <% end %>
    <%= content_tag :div, :class => "media-body" do %>
      <div class="media-heading">
        <div class="title">
          <%= link_to_decent message.name, message %>
          <% unless size == :small %>
            <span class="department">(<%= link_to message.department.name, message.department, :class => "decent" %>)</span>
          <% end %>
        </div>
        <% unless size == :small %>
          <div class="date">
            <%#= localize( message.custom_date.to_date, :format => :long ) %>
            <%= content_tag(:div, 
              (localize( message.custom_date.to_date, :format => :default )+
          (user_signed_in? ? ' '+publication_indicator(message) : '')).html_safe, style: "white-space: nowrap"
            ) %>
          </div>
        <% end %>
      </div>
      <%= link_to message, :class => "content decent" do %>
        <%= message.display_abstract(:text_length => text_length) + '...' %>
        <%= content_tag :span, "#{t 'general.more'}", :class => 'btn-link more' %>
      <% end %>
    <% end %>
  </div>
</div>