<%

case size
when :small
  image_size = '64x48'
  thumb_type = :thumb
  text_length = 120
when :large
  image_size = '130x90'
  thumb_type = :_260x180
  text_length = 320
end

%>

<div class="box">
  <div class="media message-excerpt <%= size %>">
    <% if message.image.present? %>
      <% image = image_tag(message.image.file_url(thumb_type), :class => "media-object", size: image_size) %>
      <%= link_to(image, message.image.file_url, :class => "fancybox pull-left", :rel => 'messages', :caption => message.title) %>
    <% end %>
    <%= content_tag :div, :class => "media-body" do %>
      <div class="media-heading">
        <div class="title">
          <%= link_to_decent message.title, message %>
          <span class="department">(<%= link_to message.department.name, message.department, :class => "decent" %>)</span>
        </div>
        <div class="date"><%= localize( message.created_at.to_date, :format => :long ) %></div>
      </div>
      <%= link_to message, :class => "content decent" do %>
        <%= message.display_abstract(:text_length => text_length) + '...' %>
        <%= content_tag :span, "#{t 'general.more'}", :class => 'btn-link more' %>
      <% end %>
    <% end %>
  </div>
</div>