<% content_for :title do %>
  <%#= t('.title', :model => Message.model_name.human ) %>
  <%= t ".title", :title => @message.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_messages_path(@message.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <%= link_to @message, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= t "general.show" %>
  <% end %>
  <%= link_to [@message, :action => :edit], :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-edit"></span>
    <%= t "general.edit" %>
  <% end %>
<% end %>

<div class="window box">
  <h3><%= Message.human_attribute_name(:thumbnail) %></h3>
  <%= simple_form_for((@message.thumb || @message.create_thumb(:name => '', :file => '')), :as => :image) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%#= image_form.input :file, :as => :file %>
      <%= render 'images/image_selector', f:f, image:@message.thumb, label: Image.model_name.human %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>

  <hr />

  <h3><%= Message.human_attribute_name(:header) %></h3>
  <%= simple_form_for((@message.header || @message.create_header), :as => :image) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%#= image_form.input :file, :as => :file %>
      <%= render 'images/image_selector', f:f, image:@message.header %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
