<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_message_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Message.model_name.human ) %>
  <% end if can?(:create, Message) && @department.present? %>
<% end %>

<div class="window box">
  <h3>
    <span class="glyphicon glyphicon-search"></span>
    <%= t "general.search" %>
  </h3>

  <%= simple_form_for Message.new, :html => { :class => "ajax_form" } do |f| %>
    <p><%= raw t ".sentence_search_term", :input => (f.input_field :search_term, :class => "input-sm", :style => "display: inline; width: 16em", :placeholder => t("general.search_term"), :value => params[:search_term]) %></p>

    <p><%= raw t ".sentence_department", :input => (f.input_field :department,
      #:as => :check_boxes,
      :collection => Department.specific.order(:name => :asc),
      :label_method => :name,
      :value_method => :id,
      :include_blank => true,
      :class => "input-sm chosen", :multiple => false, :style => "display: inline; width: 16em",
      :selected => @department.present? ? @department.id : false) %></p>
  <% end %>
</div>

<div class="window box">
  <h3>
    <span class="glyphicon glyphicon-list"></span>
    <%= Message.model_name.human(:count => :lots) %>
  </h3>
  <table id="messages_data_table"
    class="dataTable table table-bordered table-striped"
    data-source="<%=
      @department.present? && false ?
        department_messages_path(@department, format: "json") :
        messages_path(format: "json")
    %>">
    <thead>
      <tr>
        <th class="no-sort"></th>
        <th data-class="expand"><%= Message.human_attribute_name(:title) %></th>
        <th class="no-sort" data-hide="xxs,xs"><%= Message.human_attribute_name(:content) %></th>
        <th data-hide="xxs,xs"><%= Message.human_attribute_name(:department) %></th>
        <%# if can? :update, Message %>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @messages.each do |message| %>
      <tr>
        <td><%= link_to(image_tag(message.image.file_url(:thumb), size: "64x48"), message.image.file_url, :class => "fancybox") if message.image.present? %></td>
        <td><%= link_to message.title, message %></td>
        <td>
          <%= truncate(strip_tags(message.content), length: 240, omission: '', separator: ' ') %>
        </td>
        <td><%= link_to_pill message.department.name, message.department %></td>
        <%# if can? :update, message %>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_message_path(message), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, message %>
              <%= link_to message, :title => t("general.destroy"), data: { confirm: I18n.t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end if false %>
    </tbody>
  </table>
</div>
