<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_message_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Message.model_name.human ) %>
  <% end if can?(:create, Message) && @department.present? %>
<% end %>

<table id="messages_data_table"
  class="dataTable table table-bordered table-striped"
  data-source="<%=
    @department.present? ?
      department_messages_path(@department, format: "json") :
      messages_path(format: "json")
  %>">
  <thead>
    <tr>
      <th></th>
      <th><%= Message.human_attribute_name(:title) %></th>
      <th><%= Message.human_attribute_name(:content) %></th>
      <th><%= Message.human_attribute_name(:department) %></th>
      <th></th>
      <% if can? :update, Message %>
      <th></th>
      <% end %>
      <% if can? :destroy, Message %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @messages.each do |message| %>
    <tr>
      <td><%= link_to(image_tag(message.image.file_url(:thumb)), message.image.file_url, :class => "fancybox") if message.image.present? %></td>
      <td><%= message.title %></td>
      <td>
        <%= truncate(strip_tags(message.content), length: 320, omission: '') %>
      </td>
      <td><%= message.department.name %></td>
      <td><%= link_to t('general.show'), message %></td>
      <% if can? :update, message %>
      <td><%= link_to t('general.edit'), edit_message_path(message) %></td>
      <% end %>
      <% if can? :destroy, message %>
      <td>
        <%= link_to message, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <%= t('general.destroy') %>
        <% end %>
      </td>
      <% end %>
    </tr>
<% end if false %>
  </tbody>
</table>
