<%# content_for :title do %>
  <%#= t ".title", :title => @message.title %>
<%# end %>

<% content_for :head do %>
  <meta property='og:type' content='article'/>

  <% if @message.thumb.present? %>
    <meta property='og:image' content='http://<%= request.host + @message.thumb.file_url %>' />
    <meta name='twitter:image' content='http://<%= request.host + @message.thumb.file_url %>' />
  <% end %>

  <meta property='og:url' content='<%= message_url(@message) %>' />
  <meta name='twitter:url' content='<%= message_url(@message) %>' />

  <% description = truncate(strip_tags(@message.content), length: 180, omission: '...', :separator => ' ') %>
  <meta property='og:description' content='<%= description %>' />
  <meta name='twitter:description' content='<%= description %>' />
  <meta itemprop='description' content='<%= description %>'>
<% end %>

<div class="window">
  <% if @message.banner.present? %>
    <div class="box small-spacing" style="overflow: hidden">
      <% image = image_tag(@message.banner.file_url(:cropped), :class => "img-responsive") %>
      <%= link_to(image, @message.banner.file_url, :class => "fancybox") %>
    </div>
  <% end %>
  <div class="box thin">
    <div class="message">
      <div class="messageHeader">
        <div class="pull-right">
          <% if can? :edit, @message %>
            <%= link_to department_messages_path(@message.department), :class => 'btn btn-default btn-sm' do %>
              <span class="glyphicon glyphicon-list"></span>
              <%= t "general.list" %>
            <% end %>
            <%= link_to edit_message_path(@message), :class => 'btn btn-primary btn-sm' do %>
              <span class="glyphicon glyphicon-pencil"></span>
              <%= t "general.edit" %>
            <% end %>
          <% end %>
        </div>
        <h1><%= @message.title %></h1>
      </div>
      <div class="messageContent">
        <%= raw @message.content %>
      </div>
      <div class="messageFooter">
        <div class="date">
          <%= localize( @message.custom_date.to_date, :format => :long ) %>
        </div>
        <div class="share">
          <%= render :partial => "shared/social_media_share" %>
        </div>
      </div>
      <%= render :partial => "shared/references_to", :locals => { references: @message.references } %>
    </div>
  </div>
</div>