<div class="window box">
  <%= render :partial => 'shared/elfinder_loader', :locals => { :path => "" } %>
  <%= tinymce %>
  <%= simple_form_for(@announcement) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :caption, as: :text, :input_html => {:rows => 2} %>
      <%= f.simple_fields_for :image do |image_form| %>
        <%= render 'images/image_selector', f:image_form, image:@announcement.image, :label => Image.model_name.human %>
        <div class="col-md-9 col-md-offset-3"><%= f.error :image %></div>
      <% end %>
      <%= f.input :link, :placeholder => t(".url_hint") %>
      <%= f.input :active %>
      <%= f.input :visible_from, :as => :date_picker %>
      <%= f.input :visible_to, :as => :date_picker %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
