<%= stylesheet_link_tag 'jquery.jcrop' %>
<%= javascript_include_tag 'jquery.jcrop', 'images' %>

<div class="window box">
  <%= form_for @image do |f| %>
    <%= f.text_field :name %>
    <%= f.cropbox :file %>
    <%#= f.cropbox :file , version: :medium %>
    <%#= f.cropbox :file, width: 550, height: 600 %>  
    <%#= f.previewbox :file %>
    <%#= f.peviewbox :file , version: :medium %>
    <%= f.previewbox :file, width: 400, height: 100 %>

    <%= f.submit 'Crop' %>
  <% end %>

  <%= simple_form_for(@image, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
    <%= f.error_notification %>

    <%= image_tag @image.file_url, id: "cropbox" %>

    <h4>Preview</h4>
    <div style="width:100px; height:100px; overflow:hidden">
      <%= image_tag @image.file.url, :id => "preview", :style => "max-width: none" %>
      <%# IMPORTANT: set max-width to none, because of difficulties with bootstrap %>
    </div>

    <% %w[x y w h].each do |attribute| %>
      <%= f.hidden_field "crop_#{attribute}" %>
    <% end %>

    <div class="form-inputs">
      <%#= f.input :name %>
      <%#= f.input :file, :as => :file %>
      <%#= render 'images/image_selector', f:f, image:@image %>

    </div>

    <div class="actions">
      <%= f.submit "Crop" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  <% end if false %>
</div>

<style>
  #image_file_previewbox_wrapper img {
    max-width: none;
  }
</style>