<div class="window box">
  <div class="box-header">
    <div class="pull-right">
      <%= link_to show_user_registration_path, :class => 'btn btn-default btn-sm' do %>
        <span class="glyphicon glyphicon-info-sign"></span>
        <%= t('.show_account') %>
      <% end %>
    </div>
    <h2><%= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}') %></h2>
    <%= current_user.name %>
  </div>
  <hr />

  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%#= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, :required => true, :autofocus => true %>
      
      <%= f.input :last_name, :required => true %>

      <%= f.input :email, :required => true %>

      <hr />

      <%= f.input :current_password, :hint => t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes'), :required => true %>

      <hr />

      <%= f.input :password, :autocomplete => "off", :hint => t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it"), :required => false %>

      <%= f.input :password_confirmation, :required => false %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.submit t('.update', :default => "Update"), :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<div class="window box">
  <h3><%= t('.cancel_my_account', :default => 'Cancel my account') %></h3>

  <p><%= t('.unhappy', :default => 'Unhappy') %>? <%= link_to t('.cancel_my_account', :default => "Cancel my account"), registration_path(resource_name), :data => { :confirm => t('.are_you_sure', :default => "Are you sure?") }, :method => :delete %>.</p>

  <%#= link_to "Back", :back, :class => "btn btn-primary" %>
</div>
