<!-- <div class="row tabs dsw">
  <div class="col-xs-3">
    <div class="tab" id="verein">
      <a href="#">Verein</a>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="tab" id="sport">
      <a href="#">Sport</a>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="tab" id="karneval">
      <a href="#">Karneval</a>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="tab" id="ohlebach">
      <a href="#">Ohlebach</a>
    </div>
  </div>
</div> -->

<div class="window homeCycle">
  <div class="mediaObject">
    <div class="cycle-slideshow outer-slideshow" id="slideshow"
      data-cycle-fx="scrollVert"
      data-cycle-slides="> div.category"
      data-cycle-speed=1000
      data-cycle-prev="#prev"
      data-cycle-next="#next"
      data-cycle-caption-template="<h2>{{cycleTitle}}</h2><p>{{cycleText}}</p>"
      data-cycle-caption=".cycle-caption"
      data-cycle-caption-plugin="caption2"
      data-cycle-paused="true"
      >

      <div class="category" data-cycle-title="Verein" data-cycle-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, deleniti, sequi, eveniet, blanditiis vitae minima labore quo quam provident quis eligendi nostrum pariatur fugit voluptate officiis iusto sint praesentium aut!">
        <div class="cycle-slideshow inner-slideshow verein"
          data-cycle-timeout=4000
          data-cycle-speed=1000
          data-cycle-paused="false"
          >
          <!-- lazy loading seems not to work in nested slides on first slideshow http://jquery.malsup.com/cycle2/demo/progressive.php -->
          <%= image_tag "home_cycle/verein1.jpg", :class => "img-responsive", :style => "width: 100%" %>
          <!-- <script id="images_verein" type="text/cycle"> -->
            <%= image_tag "home_cycle/verein2.jpg", :class => "img-responsive", :style => "width: 100%" %>
            <%= image_tag "home_cycle/verein3.jpg", :class => "img-responsive", :style => "width: 100%" %>
          <!-- </script> -->
        </div>
      </div>

      <div class="category" data-cycle-title="Sport" data-cycle-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, quia, magnam repudiandae quod eaque voluptas hic nobis praesentium optio officiis ad nulla facere amet! Tempore ullam placeat amet pariatur nobis.">
        <div class="cycle-slideshow inner-slideshow sport"
          data-cycle-timeout=4000
          data-cycle-speed=1000
          data-cycle-paused="false"
          data-cycle-loader=true
          data-cycle-progressive="#images_sport">
          <%= image_tag "home_cycle/sport1.jpg", :class => "img-responsive", :style => "width: 100%" %>
          <script id="images_sport" type="text/cycle">
            <%= image_tag "home_cycle/sport2.jpg", :class => "img-responsive", :style => "width: 100%" %>
            <%= image_tag "home_cycle/sport3.jpg", :class => "img-responsive", :style => "width: 100%" %>
          </script>
        </div>
      </div>

      <div class="category" data-cycle-title="Karneval" data-cycle-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, necessitatibus, vero, modi voluptates odio est inventore nulla accusantium doloribus distinctio quaerat adipisci voluptatibus cum pariatur quas temporibus impedit molestiae aut!">
        <div class="cycle-slideshow inner-slideshow karneval"
          data-cycle-timeout=4000
          data-cycle-speed=1000
          data-cycle-paused="false"
          data-cycle-loader=true
          data-cycle-progressive="#images_karneval">
          <%= image_tag "home_cycle/karneval1.jpg", :class => "img-responsive", :style => "width: 100%" %>
          <script id="images_karneval" type="text/cycle">
            <%= image_tag "home_cycle/karneval2.jpg", :class => "img-responsive", :style => "width: 100%" %>
            <%= image_tag "home_cycle/karneval3.jpg", :class => "img-responsive", :style => "width: 100%" %>
          </script>
        </div>
      </div>

      <div class="category" data-cycle-title="Ohlebach-Theater" data-cycle-text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, obcaecati, molestiae quidem dignissimos assumenda ad commodi eligendi voluptates numquam minus nostrum sint amet. Eum magnam similique veniam doloremque dolorem debitis.">
        <div class="cycle-slideshow inner-slideshow ohlebach"
          data-cycle-timeout=4000
          data-cycle-speed=1000
          data-cycle-paused="false"
          data-cycle-loader=true
          data-cycle-progressive="#images_ohlebach">
          <%= image_tag "home_cycle/ohlebach1.jpg", :class => "img-responsive", :style => "width: 100%" %>
          <script id="images_ohlebach" type="text/cycle">
            <%= image_tag "home_cycle/ohlebach2.jpg", :class => "img-responsive", :style => "width: 100%" %>
            <%= image_tag "home_cycle/ohlebach3.jpg", :class => "img-responsive", :style => "width: 100%" %>
          </script>
        </div>
      </div>
    </div>

    <div class="mediaOverlay tabBar">
      <div class="container">
        <div class="tabs">
          <div class="tab" id="verein">
            <a href="#">Verein</a>
          </div>
          <div class="tab" id="sport">
            <a href="/training_groups/search">Sport</a>
          </div>
          <div class="tab" id="karneval">
            <a href="/departments/karneval">Karneval</a>
          </div>
          <div class="tab" id="ohlebach">
            <a href="/departments/ohlebach-theater">Ohlebach-Theater</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mediaOverlay info">
      <div class="container">
        <div class="row"><div class="col-xs-4 col-xs-offset-8 hidden-xs">
          <div class="box obtrusive">
            <div class="cycle-caption"></div>
          </div>
        </div></div>
      </div>
    </div>
  </div>
</div>