<!--

TODO: this is very slow / unify preview cycle and home cycle
maybe start and stop sub animations
-choose another animation
-use another animation plugin -> maybe cycle2 instead of cycle

relevant pages home cycle:
-home.js.coffee
-home_cycle.css.scss

relevant pages preview cycle:
-preview_cycle.js.coffee
-announcement_cycle.css.scss???
-cycle2_loader

  -->
<div class="window" id="homeCycle">
  <div class="mediaObject">
    <div class="cycle-slideshow outer-slideshow" id="slideshow"
      data-cycle-fx="fade"
      data-cycle-slides="> div.category"
      data-cycle-speed=1000
      data-cycle-prev="#prev"
      data-cycle-next="#next"
      data-cycle-caption-template="<h2>{{cycleTitle}}</h2><p>{{cycleText}}</p>"
      data-cycle-caption=".cycle-caption"
      data-cycle-caption-plugin="caption2"
      data-cycle-paused="true"
      >

      <% @home_cycle_slides.each do |home_cycle_slide| %>
        <div class="category" data-cycle-title="<%= home_cycle_slide.name %>" data-cycle-text="<%= home_cycle_slide.description %>">
          <%= image_tag home_cycle_slide.image.file.url(:cropped), :class => "img-responsive", :style => "width: 100%", size: '1088x363' %>
        </div>
      <% end %>

      <div class="mediaOverlay tabBar">
        <div class="container">
          <div class="tabs">
            <% position = 0 %>
            <% @home_cycle_slides.each do |home_cycle_slide| %>
              <div class="tab" data-position="<%= position %>">
                <%= link_to home_cycle_slide.name, home_cycle_slide.get_url %>
              </div>
              <% position = position + 1 %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="mediaOverlay info">
        <div class="container">
          <div class="row"><div class="col-xs-4 col-xs-offset-8 hidden-xs">
            <div class="box obtrusive">
              <div class="cycle-caption"></div>
            </div>
          </div></div>
        </div>
      </div>
    </div>
  </div>
</div>