<%= javascript_tag do %>
  window.department_id = '0<%#= @department.id %>';
<% end %>

<%= simple_form_for(@media_link) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.fields_for :link, @media_link.link do |ff| %>
      <%= render :partial => 'links/linkable_fields', :object => @media_link, :as => "linkable", :locals => { :f => ff } %>
    <% end %>
    <%#= f.input :controller_id %>
    <%#= f.input :controller_id do %>
      <%# NOTE: remove class form-control when simple forms updates to bootstrap 3 %>
      <%#= f.select("controller_id", @controller_ids, :include_blank => true,
        :label_method => lambda { |obj| "bla" }, :class => 'form-control') %>
    <%# end %>
    <%= f.input(:controller_id, :collection => @controllers, :include_blank => false,
        :label_method => lambda { |obj| obj.classify.constantize.model_name.human }, :class => 'form-control') %>

    <div id="controllerDependentForm">
      <%= render :partial => 'controller_dependent' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
