<% content_for :title do %>
  <%= t ".title", :name => @quick_link.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_quick_links_path(@department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @quick_link %>
    <%= link_to edit_quick_link_path(@quick_link), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">
  <dl class="dl-horizontal">
    <dt><%= Event.human_attribute_name("name") %>:</dt>
    <dd><%= @quick_link.name %></dd>

    <dt><%= Event.human_attribute_name("url") %>:</dt>
    <dd><%= @quick_link.get_url %></dd>

  </dl>
</div>
