<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_theme_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Theme.model_name.human ) %>
  <% end if can? :create, Theme %>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th class="no-sort"></th>
        <th data-class="expand"><%= QuickLink.human_attribute_name("name") %></th>
        <th data-hide="xxs,xs,sm"><%= QuickLink.human_attribute_name("description") %></th>
        <th data-hide="xxs,xs,sm"><%= QuickLink.human_attribute_name("color") %></th>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @themes.each do |theme| %>
      <tr>
        <td><%= link_to(image_tag(theme.banner.file_url(:cropped, :_600x100), size: "300x50"), theme.banner.file_url, :class => "fancybox") if theme.banner.present? %></td>
        <td><%= link_to theme.name, theme %></td>
        <td><%= theme.description %></td>
        <td style="background-color: <%= theme.color %>; color: white; font-weight: bold>"><%= theme.color %></td>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_theme_path(theme), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, theme %>
              <%= link_to theme, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
