<%= render :partial => 'jquery_popup_uploader/utilities' %>

<div class="window box">
  <%= render :partial => 'shared/elfinder_loader', :locals => { :path => "/departments/#{@training_group.department.id}" } %>
  <%= tinymce %>
  <%= simple_form_for(shallow_args(@department, @training_group)) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="col-md-12">
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.association :department,
            :as => :select,
            :collection => Department.order(:name => :asc),
            :label_method => :name,
            :value_method => :id,
            :include_blank => false,
            :input_html => { :class => "chosen"} %>
          <%= f.association :trainers,
            :as => :select,
            :collection => Trainer.order(:first_name => :asc).order(:last_name => :asc),
            :label_method => :name,
            :value_method => :id,
            :include_blank => false,
            :input_html => { :class => "chosen"} %>
          <%= f.input :age_begin, as: :integer %>
          <%= f.input :age_end, as: :integer %>
          <%= f.input :description, as: :text, input_html: { class: 'tinymce' } %>
          <%= f.input :ancient %>
          
          <%= f.simple_fields_for :photo do |image_form| %>
            <%= render 'images/image_selector', f:image_form, image:@training_group.photo, label: Image.model_name.human %>
          <% end if false %>

          <%= f.input :photo, as: :image_popup_upload, input_html: {}, preview_version: nil, preview_size: '300x200', :use_default_url => true, :mount_on => :file %>

          <fieldset>
            <legend><%= t "general.references" %></legend>
            <%= f.association :galleries,
              :as => :select,
              :collection => Gallery.order(:name => :asc),
              :label_method => :name,
              :value_method => :id,
              :include_blank => false,
              :input_html => { :class => "chosen"} %>
            
            <%= f.association :documents,
              :as => :select,
              :collection => Document.order(:name => :asc),
              :label_method => :name,
              :value_method => :id,
              :include_blank => false,
              :input_html => { :class => "chosen"} %>
          </fieldset>
        </div>
      </div>

      <div class="col-md-12">
        <fieldset>
          <legend>
            <!--<span class="glyphicon glyphicon-calendar"></span>-->
            <div>
              <%= TrainingUnit.model_name.human(:count => :lots) %>
              <%= link_to_add_association( content_tag( :i, "", :class => "fa fa-plus-circle" ) + " "\
          + t("training_groups.form.add_training_unit"), f, :training_units, :class => "btn btn-link" ) %>
            </div>
          </legend>
          <div id="insertionNode" class="row">
            <%= f.simple_fields_for :training_units do |unit_form| %>
              <%= render 'training_unit_fields', f:unit_form %>
            <% end %>
          </div>
        </fieldset>
      </div>
      <hr />
    </div>
    <hr />

    <div style="text-align: right">
    <%= f.button :submit, :class => "btn btn-primary" %></div>
    <br />
    <!--<div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>-->
  <% end %>
</div>