<%= render :partial => 'shared/tinymce', :locals => { :path => "/departments/#{@training_group.department.id}" } %>
<%= simple_form_for(shallow_args(@department, @training_group), :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%# f.association :department,
      :as => :select,
      :collection => Department.order(:name => :asc),
      :label_method => :name,
      :value_method => :id,
      :include_blank => false,
      :input_html => { :class => "chosen input-xlarge"} %>
    <%= f.association :trainers,
      :as => :select,
      :collection => Trainer.order(:first_name => :asc).order(:last_name => :asc),
      :label_method => :name,
      :value_method => :id,
      :include_blank => false,
      :input_html => { :class => "chosen input-xlarge"} %>
    <%= f.input :age_begin, as: :integer %>
    <%= f.input :age_end, as: :integer %>
    <%= f.input :description, as: :text, input_html: { class: 'tinymce' } %>
    <%= f.input :ancient %>

    <%#= f.input :start_date_time, :as => :datetime_picker %>

    <%#= f.input :closing_date, :as => :date_picker %>

    <%#= f.input :begin_at, :as => :time_picker %>


    <!-- <div class="form-group">
      <%= f.label :time %>
      <div class="input-group bootstrap-timepicker col-md-4">
        <input type="text" class="form-control timepicker">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div> -->
    
    <%= f.simple_fields_for :image do |image_form| %>
      <%= render 'images/image_selector', f:image_form, image:@training_group.image %>
    <% end %>
  </div>

  <%= f.simple_fields_for :training_units do |unit_form| %>
    <%= render 'training_unit_fields', f:unit_form %>
  <% end %>
  <p><%# f.link_to_add "Add a TrainingUnit", :training_units %></p>
  <p><%= link_to_add_association( content_tag( :span, "", :class => "glyphicon glyphicon-plus" ) + " "\
  + t("training_groups.form.add_training_unit"), f, :training_units, :class => "btn btn-default" ) %></p>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn-primary" %>
  </div>
<% end %>