<!-- <table id="training_groups_data_table"
  class="dataTable table table-bordered table-striped responsive"
  data-source="<%=
    @department.present? ?
      department_training_groups_path(@department, format: "json") :
      training_groups_path(format: "json")
  %>"> -->

<%= content_for :head do %>
  <%= javascript_include_tag '_datatables-bundle' %>
<% end %>

<table class="secondCol dataTable table table-bordered table-striped datatable defaults responsive">
  <thead>
    <tr>
      <th class="no-sort"></th>
      <th data-class="expand"><%= TrainingGroup.human_attribute_name(:name) %></th>
      <th class="no-sort" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:description) %></th>
      <% unless ancient %>
        <th data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:age) %></th>
      <% end %>
      <th class="no-sort" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:trainers) %></th>
      <% if user_signed_in? %>
        <%= content_tag :th, t("general.actions"), class: "no-sort" %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <%= render :partial => "training_groups/table_row", :collection => training_groups, :as => :training_group, locals: { ancient: ancient } %>
  </tbody>
</table>