<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="mediaWrapper">
    <div class="mediaObject">
      <%= link_to( training_group, :title => training_group.name ) do %>
        <%= image_tag(image_url(training_group.photo, :_260x180), :class => "img-responsive") %>
        <!--<div class="mediaOverlay bottom overlayTitle">Gruppe ansehen</div>-->
      <% end %>
    </div>
    <div class="mediaText">
      <%= link_to training_group, :class => "title" do %>
        <%= training_group.name %>
      <% end %>
      <span class="age"><%= training_group.display_age %></span>
    </div>
  </div>
</div>