<div class="page-header">
  <%= link_to new_department_training_group_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Training group
  <% end if can? :create, TrainingGroup %>
  <h1>Listing training_groups</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Age begin</th>
      <th>Age end</th>
      <th></th>
      <% if can? :update, TrainingGroup %>
      <th></th>
      <% end %>
      <% if can? :destroy, TrainingGroup %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @training_groups.each do |training_group| %>
    <tr>
      <td><%= training_group.name %></td>
      <td>
        <%# truncate_html(training_group.description, length: 100, omission: '...') %>
        <%= truncate(strip_tags(training_group.description), length: 100, omission: '...') %>
      </td>
      <td><%= training_group.age_begin %></td>
      <td><%= training_group.age_end %></td>
      <td><%= link_to 'Show', training_group %></td>
      <% if can? :update, training_group %>
      <td><%= link_to 'Edit', edit_training_group_path(training_group) %></td>
      <% end %>
      <% if can? :destroy, training_group %>
      <td>
        <%= link_to training_group, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> Destroy
        <% end %>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
