<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_training_group_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => TrainingGroup.model_name.human ) %>
  <% end if can? :create, @department.training_groups.build %>
<% end %>

<div class="window box">
  <h3><%= "#{t("general.current")} #{TrainingGroup.model_name.human(:count => :lots)}" %></h3>
  <%= render :partial => "training_groups/table", :locals => {:training_groups => @training_groups.current, ancient: false} %>

  <% ancient_groups = @training_groups.ancient %>
  <% if ancient_groups.present? %>
    <h3><%= "#{t("general.ancient")} #{TrainingGroup.model_name.human(:count => :lots)}" %></h3>
    <%= render :partial => "training_groups/table", :locals => {:training_groups => ancient_groups, ancient: true } %>
  <% end %>
</div>
