<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_training_group_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => TrainingGroup.model_name.human ) %>
  <% end if can? :create, TrainingGroup %>
<% end %>

<div class="window box">

  <%= simple_form_for TrainingGroup.new do |f| %>
    <p><%= raw t ".sentence_age", :input => (f.input_field :age, :style => "display: inline; width: 3em", :maxlength => "2") %></p>

    <p><%= raw t ".sentence_departments", :input => (f.input_field :departments,
      #:as => :check_boxes,
      :collection => Department.specific.order(:name => :asc),
      :label_method => :name,
      :value_method => :id,
      :include_blank => false,
      :class => "chosen", :multiple => true, :style => "display: inline; width: 16em") %></p>

    <p><%= raw t ".sentence_week_days", :input => (f.input_field :week_days,
      #:as => :check_boxes,
      :collection => I18n.t(:"date.day_names").zip((0..6).to_a),
      :class => "chosen", :multiple => true, :style => "display: inline; width: 16em") %></p>
  <% end %>

  <hr />

  <table id="training_groups_data_table"
    class="dataTable table table-bordered table-striped"
    data-source="<%=
      @department.present? ?
        department_training_groups_path(@department, format: "json") :
        training_groups_path(format: "json")
    %>">
    <thead>
      <tr>
        <th class="image no-sort"></th>
        <th class="name" data-class="expand"><%= TrainingGroup.human_attribute_name(:name) %></th>
        <th class="training_unit" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:training_units) %></th>
        <th class="age" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:age) %></th>
        <th class="department" data-hide="sm,xs"><%= TrainingGroup.human_attribute_name(:department) %></th>
        <% if can? :update, TrainingGroup %>
          <%= content_tag :th, t("general.actions"), class: "actions no-sort" %>
        <% end %>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
