<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<%= content_for :head do %>
  <%= javascript_include_tag '_datatables-bundle', "data-turbolinks-track" => true %>
<% end if false %>

<div class="window box-transparent large-spacing">
  <div class="row">
    <% Department.where(:area_id => 1).each do |department| %>
      <div class="col-md-3 col-sm-4">
          <%= link_to department, class: 'window box obtrusive quick-link' do %>
            <i class="fa fa-arrow-circle-right"></i> <%= department.name %>
          <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="window box highlighted">
  <div class="row">
    <div class="col-md-8">
      <h3>
        <span class="glyphicon glyphicon-search"></span>
        <%= t "general.search" %>
      </h3>

      <%= simple_form_for TrainingGroup.new, :html => { :class => "ajax_form" }  do |f| %>
        <p><%= raw t ".sentence_age", :input => (f.input_field :age, :class => "input-sm", :style => "display: inline; width: 3em", :maxlength => "2") %></p>

        <p><%= raw t ".sentence_departments", :input => (f.input_field :departments,
          #:as => :check_boxes,
          :collection => Department.specific.order(:name => :asc),
          :label_method => :name,
          :value_method => :id,
          :include_blank => false,
          :class => "chosen input-sm", :multiple => true, :style => "display: inline; width: 16em") %></p>

        <p><%= raw t ".sentence_week_days", :input => (f.input_field :week_days,
          #:as => :check_boxes,
          :collection => I18n.t(:"date.day_names").zip((0..6).to_a),
          :class => "chosen input-sm", :multiple => true, :style => "display: inline; width: 16em") %></p>

        <p><%= raw t ".sentence_keywords", :input => (f.input_field :keywords,
          :class => "input-sm", :style => "display: inline; width: 16em", :placeholder => t('general.search_term')) %></p>
      <% end %>

    </div>
    <div class="col-md-4">
      <h3>
        <span class="glyphicon glyphicon-download-alt"></span>
        <%= t ".flyer" %>
      </h3>
        <p><%= raw t(".flyer_sentence", :link => link_to(t("general.here").capitalize, "#")) %></p>
    </div>
  </div>
</div>
<div class="window box">
  <h3>
    <span class="glyphicon glyphicon-list"></span>
    <%= TrainingGroup.model_name.human(:count => :lots) %>
  </h3>

  <table id="training_groups_data_table"
    class="dataTable table table-bordered table-striped responsive"
    data-source="<%=
      @department.present? ?
        department_training_groups_path(@department, format: "json") :
        training_groups_path(format: "json")
    %>">
    <thead>
      <tr>
        <th class="image no-sort"></th>
        <th class="name" data-class="expand"><%= TrainingGroup.human_attribute_name(:name) %></th>
        <th class="training_unit no-sort" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:training_units) %></th>
        <th class="age" data-hide="xxs,xs"><%= TrainingGroup.human_attribute_name(:age) %></th>
        <th class="department" data-hide="sm,xs,xxs"><%= TrainingGroup.human_attribute_name(:department) %></th>
        <%# if can? :update, TrainingGroup %>
        <% if user_signed_in? %>
          <%= content_tag :th, t("general.actions"), class: "actions no-sort" %>
        <% end %>
      </tr>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
