<% content_for :title do %>
  Trainingsgruppe <%= @training_group.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_training_groups_path(@training_group.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @training_group %>
    <%= link_to edit_training_group_path(@training_group), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-md-8">

    <h3>Beschreibung</h3>
    <%= raw @training_group.description %>
    
    <h3>Infos</h3>
    <dl class="dl-horizontal">

      <dt>Department:</dt>
      <dd><%= link_to @training_group.department.name, @training_group.department %></dd>

      <dt>Age begin:</dt>
      <dd><%= @training_group.age_begin %></dd>

      <dt>Age end:</dt>
      <dd><%= @training_group.age_end %></dd>

    </dl>
  </div>
  <div class="col-md-4">
    <%= link_to(image_tag(@training_group.image.file_url, :class => "img-responsive"), @training_group.image.file_url, :class => "fancybox") if @training_group.image.present? %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Training Units</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Weekday</th>
          <th>Time</th>
          <th>Location Summer</th>
          <th>Location Winter</th>
        </tr>
      </thead>
      <tbody>
        <% @training_group.training_units.each do |training_unit| %>
          <tr>
            <td><%= Date::DAYNAMES[training_unit.week_day] %></td>
            <td><%= training_unit.time_begin %></td>
            <td><%= link_to training_unit.location_summer.name, training_unit.location_summer %></td>
            <td><%= link_to training_unit.location_winter.name, training_unit.location_winter %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# TODO: Expand infos - especially add training units %>