<div class="page-header">
  <%= link_to department_training_groups_path(@training_group.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @training_group %>
    <%= link_to edit_training_group_path(@training_group), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show training_group</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @training_group.name %></dd>

  <dt>Department:</dt>
  <dd><%= link_to @training_group.department.name, @training_group.department %></dd>

  <dt>Description:</dt>
  <dd>
    <%= raw @training_group.description %>
    <%# truncate_html(training_group.description, length: 100, omission: '...') %>
    <%# truncate(strip_tags(training_group.description), length: 100, omission: '...') %>
  </dd>

  <dt>Age begin:</dt>
  <dd><%= @training_group.age_begin %></dd>

  <dt>Age end:</dt>
  <dd><%= @training_group.age_end %></dd>

</dl>
