<% content_for :title do %>
  <%= t ".title", :name => @training_group.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_training_groups_path(@training_group.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @training_group %>
    <%= link_to edit_training_group_path(@training_group), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="row eqme">
  <div class="col-md-8 window">
    <div class="box">
      <h3>
        <span class="glyphicon glyphicon-align-left"></span>
        <%= TrainingGroup.human_attribute_name(:description) %>
      </h3>
      <%= raw @training_group.description %>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-md-6">
          <h3>
            <span class="glyphicon glyphicon-info-sign"></span>
            <%= t ".info" %>
          </h3>
          <dl>
            <dt><%= TrainingGroup.human_attribute_name(:department) %>:</dt>
            <dd><%= link_to @training_group.department.name, @training_group.department, :class => "pill" %></dd>

            <dt><%= TrainingGroup.human_attribute_name(:age) %>:</dt>
            <dd><%= @training_group.display_age %></dd>
          </dl>
        </div>

        <div class="col-md-6">
          <h3>
            <span class="glyphicon glyphicon-user"></span>
            <%= Trainer.model_name.human(:count => :lots) %>
          </h3>
          <% @training_group.trainers.each do |trainer| %>
            <%= link_to trainer.name, trainer, :class => "pill" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 window">
    <div class="plain no-spacing">
      <div class="box">
        <h3>
          <span class="glyphicon glyphicon-picture"></span>
          <%= t ".picture" %>
        </h3>
      </div>
      <div class="box small-spacing">
        <%= link_to(image_tag(@training_group.image.file_url, :class => "img-responsive"), @training_group.image.file_url, :class => "fancybox") if @training_group.image.present? %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="box window">
      <h3>
        <span class="glyphicon glyphicon-calendar"></span>
        <%= TrainingGroup.human_attribute_name(:training_units) %>
      </h3>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><%= TrainingUnit.human_attribute_name(:week_day) %></th>
            <th><%= TrainingUnit.human_attribute_name(:time) %></th>
            <th><%= TrainingUnit.human_attribute_name(:location_summer) %></th>
            <th><%= TrainingUnit.human_attribute_name(:location_winter) %></th>
          </tr>
        </thead>
        <tbody>
          <% @training_group.training_units.each do |training_unit| %>
            <tr>
              <td><%= training_unit.display_week_day %></td>
              <td><%= training_unit.time %></td>
              <td><%= link_to training_unit.location_summer.name, training_unit.location_summer, :class => "pill" unless training_unit.location_summer.nil? %></td>
              <td><%= link_to training_unit.location_winter.name, training_unit.location_winter, :class => "pill" unless training_unit.location_winter.nil? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
