<div class="window box">
  <%= simple_form_for(@user, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
    <%= f.error_notification %>

    <div class="row">
      <div class="col-md-6">
        <div class="thin">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email %>
          <%= f.input :password,
            :hint => t(".password_hint"),
            :input_html => { :autocomplete => "off" } %>
          <%= f.input :password_confirmation,
            :input_html => { :autocomplete => "off" } %>
          <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
              <%= f.button :submit, :class => "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="thin">
          <%= f.association :roles, :as => :check_boxes %>
          <%= f.association :departments,
            :as => :check_boxes,
            :collection => Department.specific.order('name' => :asc),
            :label_method => :name,
            :value_method => :id,
            :include_blank => false,
            :hint => t(".departments_hint"),
            :wrapper => :checkbox,
            :item_wrapper_class => 'col-sm-6' %>
          <%= f.association :trainer,
            :collection => Trainer.order('first_name' => :asc).order('last_name' => :asc),
            :label_method => :name,
            :value_method => :id,
            :include_blank => true,
            :input_html => { :class => "chosen", :data => {:include_blank => true} },
            :hint => t(".trainer_hint") %>
        </div>
      </div>
    </div>
  <% end %>
</div>
