<div class="page-header">
  <%= link_to new_user_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <% end if can? :create, User %>
  <h1>Listing users</h1>
</div>

<div class="window box">
  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th>Username</th>
        <th class="no-sort">Email</th>
        <th class="no-sort">Rollen</th>
        <% if can? :update, User %>
          <th class="no-sort">Aktionen</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>
          <%#= mail_to user.email, nil, :replace_at => "(at)", :replace_dot => "(dot)", :class => "email" %>
          <%= mail_to user.email, encode: "hex", :class => "email" do %>
            <span class="glyphicon glyphicon-envelope"></span> Email
          <% end %>
        </td>
        <td>
          <%= user.roles.map(&:name).join(', ') %>
        </td>
        <% if can? :update, user %>
          <td>
            <%= link_to edit_user_path(user), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, user %>
              <%= link_to user, :title => t("general.destroy"), data: { confirm: I18n.t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
