<div class="page-header">
  <%= link_to users_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @user %>
    <%= link_to edit_user_path(@user), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show user</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>

  <dt>Email:</dt>
  <dd><%= mail_to @user.email, encode: "hex", :class => "email" do %>
    <span class="glyphicon glyphicon-envelope"></span> Email
  <% end %></dd>

  <dt>Roles:</dt>
  <dd><% @user.roles.each do |role| %>
    <div><%= role.name %></div>
  <% end %></dd>

  <dt>Departments:</dt>
  <dd><% @user.departments.each do |department| %>
    <div><%= link_to department.name, department %></div>
  <% end %></dd>
</dl>
