<%= javascript_tag do %>
  window.department_id = '<%= @department.id %>';
<% end %>

<%= simple_form_for(shallow_args(@department, @navigation_element)) do |f| %>
  <%= f.error_notification %>
  
  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.input :parent_id,
      :as => :select,
      collection: nested_set_options(NavigationElement.department(@navigation_element.department_id), @navigation_element) {|i| "#{'-' * i.level} #{i.title}" } %>

    <%= f.input :controller_id do %>
      <%# NOTE: remove class form-control when simple forms updates to bootstrap 3 %>
      <%= f.select("controller_id", @controllers, {:include_blank => true}, :class => 'form-control') %>
    <% end %>

    <%#= f.input :action_id do %>
      <%#= f.select("action_id", @actions, {:include_blank => true}, :class => 'form-control') %>
    <%# end %>

    <%#= f.input :instance_id do %>
      <%#= f.select("instance_id", @instances, {:include_blank => true}, :class => 'form-control') %>
    <%# end %>

    <div id="controllerDependentForm">
      <%= render :partial => 'controller_dependent' %>
    </div>

    <%= f.input :department_id, :as => :hidden %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary col-lg-offset-2" %>
  </div>
<% end %>
