<% content_for :title do %>
  <%= t('general.edit_model', :model => NavigationElement.model_name.human ) %>
<% end %>

<% content_for :buttons do %>
   <%= link_to department_navigation_elements_path(@department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <%= link_to @navigation_element, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    <%= t "general.show" %>
  <% end %>
<% end %>
<%= render 'form' %>
