<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_navigation_element_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => NavigationElement.model_name.human ) %>
  <% end if can? :create, NavigationElement %>
  <%= link_to sort_navigation_elements_department_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    <%= t('.manage') %>
  <% end if can? :sort, NavigationElement%>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th><%= NavigationElement.human_attribute_name(:name) %>:</th>
        <th><%= NavigationElement.human_attribute_name(:controller_id) %>:</th>
        <th><%= NavigationElement.human_attribute_name(:action_id) %>:</th>
        <th><%= NavigationElement.human_attribute_name(:instance_id) %>:</th>
        <th><%= NavigationElement.human_attribute_name(:url) %>:</th>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @navigation_elements.each do |navigation_element| %>
      <tr>
        <td><%= link_to navigation_element.name, navigation_element %></td>
        <td><%= navigation_element.controller_id %></td>
        <td><%= navigation_element.action_id %></td>
        <td><%= navigation_element.instance_id %></td>
        <td><%= link_to navigation_element.url, navigation_element.url %></td>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_navigation_element_path(navigation_element), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, navigation_element %>
              <%= link_to navigation_element, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
