<div class="page-header">
  <%= link_to department_navigation_elements_path(@navigation_element.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @navigation_element %>
    <%= link_to edit_navigation_element_path(@navigation_element), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show navigation_element</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @navigation_element.title %></dd>

  <dt>Controller:</dt>
  <dd><%= @navigation_element.controller_id %></dd>


  <dt>Action:</dt>
  <dd><%= @navigation_element.action_id %></dd>


  <dt>Object:</dt>
  <dd><%= @navigation_element.instance_id %></dd>
</dl>
