<% content_for :title do %>
  <%= t ".title", :name => @navigation_element.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_navigation_elements_path(@department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @navigation_element %>
    <%= link_to edit_navigation_element_path(@navigation_element), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">
  <dl class="dl-horizontal">
    <dt><%= NavigationElement.human_attribute_name(:name) %>:</dt>
    <dd><%= @navigation_element.name %></dd>

    <dt><%= NavigationElement.human_attribute_name(:controller_id) %>:</dt>
    <dd><%= @navigation_element.controller_id %></dd>

    <dt><%= NavigationElement.human_attribute_name(:action_id) %>:</dt>
    <dd><%= @navigation_element.action_id %></dd>

    <dt><%= NavigationElement.human_attribute_name(:instance_id) %>:</dt>
    <dd><%= @navigation_element.instance_id %></dd>

    <%# TODO object + link %>

    <dt><%= NavigationElement.human_attribute_name(:url) %>:</dt>
    <dd><%= link_to @navigation_element.url, @navigation_element.url %></dd>
  </dl>
</div>
