<div class="window box">
  <%= render :partial => 'shared/elfinder_loader', :locals => { :path => "/departments/#{@department.id}" } unless @department.new_record? %>
  <%= tinymce %>
  <%= simple_form_for(@department, :defaults => { :input_html => { :class => 'input-xlarge' } }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%#= f.association :training_groups,
        :as => :select,
        :collection => TrainingGroup.order('name' => :asc),
        :label_method => :name,
        :value_method => :id,
        :include_blank => false,
        :input_html => { :class => "chosen input-xxlarge"} %>
      <%= f.input :color, :input_html => { :class => "colorpicker", :data => {:"color-format" => "hex"}} %>
      <%= f.input :description, as: :text, input_html: { class: 'tinymce' } unless @department.new_record?  %>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
