<div class="box">
  <h4>Mehr Infos</h4>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <% if @department.feature_training_groups %><li class="active"><a href="#trainingGroups" data-toggle="tab" class="title">
      <%= fa_icon "users" %>
      <%= TrainingGroup.model_name.human(:count => :lots) %>
    </a></li><% end %>
    <% if @department.feature_trainers %><li><a href="#trainers" data-toggle="tab" class="title">
      <%= Trainer.model_name.human(:count => :lots) %>
    </a></li><% end %>
    <% if @department.feature_messages %><li><a href="#messages" data-toggle="tab" class="title">
      <%= fa_icon "message" %>
      <%= Message.model_name.human(:count => :lots) %>
    </a></li><% end %>
    <% if @department.feature_galleries %><li><a href="#galleries" data-toggle="tab" class="title">
      <%= Gallery.model_name.human(:count => :lots) %>
    </a></li><% end %>
    <% if @department.feature_documents %><li><a href="#documents" data-toggle="tab" class="title">
      <%= Department.human_attribute_name(:documents) %>
    </a></li><% end %>
  </ul>
</div>

<!-- Tab panes -->
<div class="tab-content box" style="padding-top: 20px">
  <% if @department.feature_training_groups %><div class="tab-pane fade active in" id="trainingGroups">
    <div class=""><div class="row">
      <% training_groups = @department.training_groups.current.includes(:photo).chronological %>
      <% cache([:media, cache_key_for(training_groups)], skip_digest: true) do %>
        <%= render training_groups %>
      <% end %>
    </div></div>
    <%= link_to [:training_groups, @department], :class => 'btn btn-link btn-block' do %>
      <i class="fa fa-arrow-circle-o-right"></i>
      Gruppenübersicht
    <% end %>
    <%= link_to new_department_training_group_path(@department), :class => 'btn btn-primary btn-block' do %>
      <i class="fa fa-plus-circle"></i>
      <%= t('general.create_model', :model => TrainingGroup.model_name.human ) %>
    <% end if can? :create, @department.training_groups.build %>
  </div><% end %>

  <% if @department.feature_trainers %><div class="tab-pane fade" id="trainers">
    <div class=""><div class="row">
      <% trainers = @department.trainers.includes(:photo).alphabetical %>
      <% cache([:media, cache_key_for(trainers)], skip_digest: true) do %>
        <%= render trainers %>
      <% end %>
    </div></div>
    <%= link_to [:trainers, @department], :class => 'btn btn-link btn-block' do %>
      <i class="fa fa-arrow-circle-o-right"></i>
      Trainerübersicht
    <% end %>
    <%= link_to new_trainer_path, :class => 'btn btn-primary btn-block' do %>
      <i class="fa fa-plus-circle"></i>
      <%= t('general.create_model', :model => Trainer.model_name.human ) %>
    <% end if can? :create, Trainer %>
  </div><% end %>

  <% if @department.feature_messages %><div class="tab-pane fade" id="messages" style="margin: 0px -12px">
    <% messages = @department.messages.published.includes(:thumb).chronological.limit(4) %>
    <% cache([:excerpts_large, cache_key_for(messages)], skip_digest: true) do %>
      <%= render :partial => 'messages/message_excerpt', :collection => messages, :as => :message, :locals => { :size => :large } %>
    <% end %>
    <div style="margin: 0px 12px">
      <%= link_to [:messages, @department], :class => 'btn btn-link btn-block' do %>
        <i class="fa fa-arrow-circle-o-right"></i>
        <%= t 'general.more' %>
        <%= Message.model_name.human(:count => :lots) %>
      <% end %>
      <%= link_to new_department_message_path(@department), :class => 'btn btn-primary btn-block' do %>
        <i class="fa fa-plus-circle"></i>
        <%= t('general.create_model', :model => Message.model_name.human ) %>
      <% end if can?(:create, @department.messages.build) %>
    </div>
  </div><% end %>

  <% if @department.feature_galleries %><div class="tab-pane fade" id="galleries">
    <div class=""><div class="row">
      <%= render(:partial => 'galleries/gallery', :collection => @department.galleries.chronological, :as => 'gallery') %>
    </div></div>
    <%= link_to [:galleries, @department], :class => 'btn btn-link btn-block' do %>
      <i class="fa fa-arrow-circle-o-right"></i>
      <%= t 'general.more' %>
      <%= Gallery.model_name.human(:count => :lots) %>
    <% end %>
    <%= link_to new_department_gallery_path(@department), :class => 'btn btn-primary btn-block' do %>
        <i class="fa fa-plus-circle"></i>
      <%= t('general.create_model', :model => Gallery.model_name.human ) %>
    <% end if can? :create, @department.galleries.build %>
  </div><% end %>

  <% if @department.feature_documents %><div class="tab-pane fade" id="documents">
    <div class=""><div class="row">
      <%= render(:partial => 'documents/document', :collection => @department.documents.chronological, :as => 'document') %>
    </div></div>
    <%= link_to [:documents, @department], :class => 'btn btn-link btn-block' do %>
      <i class="fa fa-arrow-circle-o-right"></i>
      <%= t 'general.more' %>
      <%= Document.model_name.human(:count => :lots) %>
    <% end %>
    <%= link_to new_department_document_path(@department), :class => 'btn btn-primary btn-block' do %>
        <i class="fa fa-plus-circle"></i>
      <%= t('general.create_model', :model => Document.model_name.human ) %>
    <% end if can?(:create, @department.documents.build) %>
  </div><% end %>
</div>