<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Department.model_name.human ) %>
  <% end if can? :create, Department %>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @departments.each do |department| %>
    <tr>
      <td><%= department.name %></td>
      <td><%= link_to t('general.show'), department %></td>
      <td><%= link_to t('general.edit'), edit_department_path(department) if can? :update, department %></td>
      <td><%= link_to department, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
        <span class="glyphicon glyphicon-trash"></span>
        <%= t('general.destroy') %>
      <% end if can? :destroy, department %></td>
    </tr>
<% end %>
  </tbody>
</table>
