<% content_for :title do %>
  <%= t ".title", :name => @department.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to departments_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @department %>
    <%= link_to edit_department_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end if false %>



<div class="window">

  <% if @department.banner.present? %>
    <div class="box small-spacing" style="overflow: hidden">
      <div class="mediaObject">
        <% image = image_tag(@department.banner.file_url(:cropped), :class => "img-responsive") %>
        <%= link_to(image, @department.banner.file_url, :class => "fancybox pull-left") %>
        <!-- <div class="mediaOverlay top-left">
          <div style="opacity: 0.7; margin: 10px; background-color: white; padding: 10px">
            <h2 style="margin: 0; color: #000000">Leichtathletik</h2>
          </div>
        </div> -->
      </div>
    </div>
  <% end if false %>

  <div class="box highlighted">

    <div class="departmentHeader">
      <div class="pull-right">
        <% if can? :update, @department %>
          <%= link_to departments_path, :class => 'btn btn-default btn-sm' do %>
            <span class="glyphicon glyphicon-list-alt"></span>
            <%= t "general.list" %>
          <% end %>
          <%= link_to edit_department_path(@department), :class => 'btn btn-primary btn-sm' do %>
          <span class="glyphicon glyphicon-pencil"></span>
            <%= t "general.edit" %>
          <% end %>
        <% end %>
      </div>
      <h2><%= t ".title", :name => @department.name %></h2>
      <p>&nbsp;</p>
      <% if @department.description.present? %>
        <%= raw @department.description %>
    <% end %>
    </div>
    <p>&nbsp;</p>
  </div>
</div>

<div class="window">
  <%= render :partial => 'pagelet' %>
</div>

<% content_for :sidebar do %>

<% if @department.feature_messages %>
  <div class="">
    <!-- <div class="box">
      <h4 style="display: inline-block">
        <%= Message.model_name.human(:count => :lots) %>
      </h4>
    </div> -->
    <%#= render :partial => 'messages/message_excerpt', :collection => @messages, :as => :message, :locals => { :size => :small } %>

    <% cache_unless(user_signed_in?, [:excerpts_small, cache_key_for(@messages)], skip_digest: true) do %>
      <% @messages.each do |message| %>
        <div class="window">
          <%= render :partial => 'messages/message_excerpt', :locals => { :message => message, :size => :small } %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!--<div class="window box">
    <%#= render_cell :navigation, :show, :department => @department %>
  </div>-->
<% end %>
<% end %>

