<%# content_for :title do %>
  <%#= t ".title", :name => @department.name %>
<%# end %>

<% content_for :buttons do %>
  <%= link_to departments_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @department %>
    <%= link_to edit_department_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
  <!--<%= link_to sort_navigation_elements_department_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    <%= t ".navigation_structure" %>
  <% end if can? :sort_navigation_elements, @department %>-->
<% end %>


  <!-- <dl class="dl-horizontal">
    <dt><%= Department.human_attribute_name(:name) %>:</dt>
    <dd><%= @department.name %></dd>

    <dt><%= Department.human_attribute_name(:training_groups) %>:</dt>
    <dd>
      <% @department.training_groups.each do |training_group| %>
        <div><%= link_to_pill training_group.name, training_group_path(training_group) %></div>
      <% end  %>
    </dd>
  </dl> -->
  <%#= render :partial => "training_groups/training_group", :collection => @department.training_groups, :as => :training_group %>

<!-- <div class="window box">
  <h3>Test</h3>
  <h3>Test</h3>
  <h4>Test</h4>
</div> -->

<% if @department.description.present? %>
  <div class="window box" style="overflow:hidden">
    <!-- <h3><%= Department.human_attribute_name(:description) %></h3> -->
    <%= raw @department.description %>
  </div>
<% end %>

<%= render :partial => 'pagelet' %>

<% content_for :sidebar do %>
  <div class="window">
    <div class="box">
      <h4 style="display: inline-block">
        <%= Message.model_name.human(:count => :lots) %>
      </h4>
    </div>
    <%= render :partial => 'messages/message_excerpt', :collection => @messages, :as => :message, :locals => { :size => :small } %>
  </div>
<% end %>

