<div class="page-header">
  <%= link_to new_navigation_element_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New NavigationElement
  <% end if can? :create, NavigationElement%>
  <%= link_to sort_navigation_elements_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Manage
  <% end if can? :sort, NavigationElement%>
  <h1>Listing navigation_elements</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <% if can? :update, NavigationElement %>
      <th></th>
      <% end %>
      <% if can? :destroy, NavigationElement %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @navigation_elements.each do |navigation_element| %>
    <tr>
      <td><%= navigation_element.title %></td>
      <td><%= link_to 'Show', navigation_element %></td>
      <% if can? :update, navigation_element %>
      <td><%= link_to 'Edit', edit_navigation_element_path(navigation_element) %></td>
      <% end %>
      <% if can? :destroy, navigation_element %>
      <td>
        <%= link_to navigation_element, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> Destroy
        <% end %>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
