<% content_for :title do %>
  <%= t ".title", :name => @page.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to pages_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @page %>
    <%= link_to edit_page_path(@page), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">
  <%= raw @page.content %>
</div>
