<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="image-wrapper">
    <div class="image">
      <%= link_to( document, :title => document.name ) do %>
        <%= image_tag(document.file.cover._240x240.url, :class => "img-responsive") %>
      <% end %>
    </div>
    <div class="image-text">
      <%= link_to document, :class => "title" do %>
        <%= document.name %>
      <% end %>
      <span class="content"><%= number_to_human_size(document.file.size, precision: 2) %></span>
    </div>
  </div>
</div>
<%#= defined?(image.file) ? image.file.url(size) : ImageUploader.new.send(size).default_url %>
<%#= image_tag(document.file.cover._80x80.url) if document.file.cover._80x80.url.present? %>