<div class="col-md-3 col-sm-4 col-xs-6">
  <div class="mediaWrapper">
    <div class="mediaObject">
      <%= link_to( document, :title => document.name ) do %>
        <%= image_tag(document.file.cover._240x240.url, :class => "img-responsive") %>
      <% end %>
    </div>
    <div class="mediaText">
      <%= link_to document, :class => "title" do %>
        <%= document.name %>
      <% end %>
      <span class="content"><%= number_to_human_size(document.file.size, precision: 2) %>
        <div class="pull-right">
          <%= link_to edit_document_path(document), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to document, data: { confirm: t("general.are_you_sure"), :toggle => "tooltip"}, :method => :delete, :title => t("general.destroy") do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </div>
      </span>
    </div>
  </div>
</div>
<%#= defined?(image.file) ? image.file.url(size) : ImageUploader.new.send(size).default_url %>
<%#= image_tag(document.file.cover._80x80.url) if document.file.cover._80x80.url.present? %>