<!--
  Flyer beside Text:
  http://jsfiddle.net/Lwg8a/2/
  Scale to either height or width 100%
  http://stackoverflow.com/questions/15576514/responsive-background-slideshow-with-maintained-aspect-ratio-malsup-cycle2
-->


<div class="window box">
  <h3><%= "#{t("general.current")} #{Document.model_name.human(:count => :lots)}" %></h3>
  <%= render(:partial => 'documents/document', :collection => @department.documents.chronological, :as => 'document') %>
</div>

<% if false %>
<div class="">
  <div class="row connected-carousels">
    <div class="col-xs-7">
      <div class="window">
        <div class="carousel-stage-wrapper">
          <div class="carousel carousel-stage">
            <ul>
              <% @documents.each do |document| %>
                <li>
                  <%= link_to(image_tag(document.file.cover.url, :class => "img-responsive"), document.file.cover.url) if document.file.cover.url.present? %>
                </li>
              <% end %>
            </ul>
          </div>
          <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
          <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
        </div>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="window">
        <div class="carousel-navigation-wrapper">
          <a href="#" class="prev prev-navigation">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </a>
          <div class="carousel carousel-navigation">
            <ul>
              <% @documents.each do |document| %>
                <li>
                  <div class="media">
                    <div class="pull-left">
                      <%= image_tag(document.file.cover._80x80.url) if document.file.cover._80x80.url.present? %>
                    </div>
                    <div class="media-body">
                      <h4><%= document.name %></h4>
                      <div>
                        <%= link_to document.file.url, class: "btn btn-default btn-xs" do %>
                          <span class="glyphicon glyphicon-download-alt"></span>
                          <%= number_to_human_size(File.size("#{document.file.path}"), precision: 2) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <a href="#" class="next next-navigation">
            <span class="glyphicon glyphicon-chevron-down"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<% end %>
