<% content_for :title do %>
  <%#= t ".title" %>TODO
<% end %>

<% content_for :buttons do %>
  <%= link_to new_document_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Document.model_name.human ) %>
  <% end if can? :create, Document %>
<% end if false %>

<div class="window box">
  <div class="jcarousel">
    <ul>
      <% @flyers.each do |flyer| %>
        <li>
          <%= link_to(image_tag(flyer.file.cover.url, :size => "240x360"), flyer.file.cover.url, :class => "fancybox") if flyer.file.cover.url.present? %>
          <%= flyer.name %>
          <%#= flyer.file.exists? ? 'ja' : 'nein' %>
          <%= flyer.file.version_exists?(:cover) ? 'ja' : 'nein' %>
          <%#= flyer.file_url(:_240x240).present? ? 'ja' : 'nein' %>
          <%#= image_tag(flyer.file.cover.url) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
