<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_document_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Document.model_name.human ) %>
  <% end if can? :create, Document %>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th><%= Document.human_attribute_name(:image) %></th>
        <th><%= Document.human_attribute_name(:name) %></th>
        <th><%= Document.human_attribute_name(:file) %></th>
        <th><%= Document.human_attribute_name(:thumbnails) %></th>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @documents.each do |document| %>
      <tr>
        <td><%= link_to(image_tag(document.file_url(:thumb)), document.file_url, :class => "fancybox") if document.present? %></td>
        <td><%= link_to document.name, document %></td>
        <td><%= document.file %></td>
        <td>
          <% if document.file.thumb.present? %>
            <%= link_to document.file.thumb.url, :class => "no-wrap" do %>
              <span class="glyphicon glyphicon-picture"></span>
              <%= t("general.small") %><% end %>,
            <%= link_to document.file._240x240.url, :class => "no-wrap" do %>
              <span class="glyphicon glyphicon-picture"></span>
              <%= t("general.medium") %><% end %>,
            <%= link_to document.file.full.url, :class => "no-wrap" do %>
              <span class="glyphicon glyphicon-picture"></span>
              <%= t("general.large") %><% end %>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_document_path(document), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, document %>
              <%= link_to document, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
