<% content_for :title do %>
  <%= t ".title", :name => @department.name %>
<% end %>

<div class="window box">
  <div class="box-header">
    <div class="pull-right">
      <%= link_to new_department_extern_link_path(@department), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t('general.create_model', :model => ExternLink.model_name.human ) %>
      <% end if can? :create, ExternLink %>
      <%= link_to new_department_media_link_path(@department), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t('general.create_model', :model => MediaLink.model_name.human ) %>
      <% end if can? :create, MediaLink %>
      <%= link_to new_department_page_path(@department), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t('general.create_model', :model => Page.model_name.human ) %>
      <% end if can? :create, Page %>
      <%= link_to new_department_placeholder_path(@department), :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-plus"></span>
        <%= t('general.create_model', :model => Placeholder.model_name.human ) %>
      <% end if can? :create, Placeholder %>
      <%= link_to sort_department_links_path(@department), :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-th-list"></span>
        <%= t('.manage') %>
      <% end if can? :sort, Link %>
    </div>
    <h2><%= t ".title", :name => @department.name %></h2>
  </div>

  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th data-class="expand"><%= Link.human_attribute_name("name") %></th>
        <th><%= Link.human_attribute_name("parent") %></th>
        <th><%= Link.human_attribute_name("active") %></th>
        <th><%= Link.human_attribute_name("linkable_type") %></th>
        <th data-hide="xxs,xs,sm"><%= Link.human_attribute_name("url") %></th>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @links.each do |link| %>
      <tr>
        <td><%= link_to link.name, link %></td>
        <td><%= link_to link.parent.name, link.parent unless link.root? %></td>
        <td><%= t link.active.to_s %></td>
        <td><%= link.linkable.class.model_name.human %></td>
        <td><%= link_to link.url %></td>
        <% if user_signed_in? %>
          <td>
            <%= link_to polymorphic_path(link.linkable, :action => :edit), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, link %>
              <%= link_to link, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
