<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<%# content_for :buttons do %>
  <%= link_to new_department_extern_link_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => ExternLink.model_name.human ) %>
  <% end if can? :create, ExternLink %>
  <%= link_to new_department_media_link_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => MediaLink.model_name.human ) %>
  <% end if can? :create, MediaLink %>
<%# end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= Link.human_attribute_name("name") %></th>
      <th><%= Link.human_attribute_name("lft") %></th>
      <th><%= Link.human_attribute_name("rgt") %></th>
      <th><%= Link.human_attribute_name("depth") %></th>
      <th><%= Link.human_attribute_name("department_id") %></th>
      <th></th>
      <% if can? :update, Link %>
      <th></th>
      <% end %>
      <% if can? :destroy, Link %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @links.each do |link| %>
    <tr>
      <td><%= link.name %></td>
      <td><%= link.lft %></td>
      <td><%= link.rgt %></td>
      <td><%= link.depth %></td>
      <td><%= link.department_id %></td>
      <td><%= link_to t('general.show'), link.linkable %></td>
      <% if can? :update, link %>
      <td><%= link_to t('general.edit'), polymorphic_path(link.linkable, :action => :edit) %></td>
      <% end %>
      <% if can? :destroy, link %>
      <td>
        <%= link_to link, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
          <span class="glyphicon glyphicon-trash"></span>
          <%= t('general.destroy') %>
        <% end %>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
