<%% content_for :title do %>
  <%%= t ".title", :name => @<%= singular_table_name %>.name %>
<%% end %>

<%% content_for :buttons do %>
  <%%= link_to <%= index_helper %>_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%%= t "general.list" %>
  <%% end %>
  <%% if can? :update, @<%= singular_table_name %> %>
    <%%= link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%%= t "general.edit" %>
    <%% end %>
  <%% end %>
<%% end %>

<dl class="dl-horizontal">
  <%- attributes.each do |attribute| -%>
  <dt><%%= <%= class_name %>.human_attribute_name("<%= attribute.name %>") %>:</dt>
  <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>

  <%- end -%>
</dl>
