<%= stylesheet_link_tag 'jquery.jcrop' %>
<%= javascript_include_tag 'jquery.jcrop', 'images' %>

<div class="window box">
  <%= simple_form_for @resource, :as => :image do |f| %>

    <%# For debugging: %>
    <% %w[x y w h].each do |attribute| %>
      <input id="image_file_crop_<%= attribute %>" />
    <% end if false %>

    <%= content_tag :div, "", id: "dimensions", data: {width: @resource.class.width, height: @resource.class.height}, :style => "display: none" %>
    <div id="cropbox">
      <%= f.cropbox :file %>
    </div>
    <div id="previewbox">
      <%= f.previewbox :file, width: @resource.class.preview_width, height: @resource.class.preview_height %>
    </div>

    <%= f.submit 'Crop' %>
  <% end %>
</div>

<style>
  #cropbox > div >img {
    max-width: 100%;
  }
</style>