<div class="page-header">
  <%= link_to new_training_unit_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Training unit
  <% end if can? :create, TrainingUnit %>
  <h1>Listing training_units</h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Weekday</th>
      <th>Time begin</th>
      <th>Time end</th>
      <th>Location summer</th>
      <th>Location winter</th>
      <th></th>
      <% if can? :update, TrainingUnit %>
      <th></th>
      <% end %>
      <% if can? :destroy, TrainingUnit %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
<% @training_units.each do |training_unit| %>
    <tr>
      <td><%= training_unit.weekday %></td>
      <td><%= training_unit.time_begin %></td>
      <td><%= training_unit.time_end %></td>
      <td><%= training_unit.location_summer_id %></td>
      <td><%= training_unit.location_winter_id %></td>
      <td><%= link_to 'Show', training_unit %></td>
      <% if can? :update, training_unit %>
      <td><%= link_to 'Edit', edit_training_unit_path(training_unit) %></td>
      <% end %>
      <% if can? :destroy, training_unit %>
      <td>
        <%= link_to training_unit, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span> Destroy
        <% end %>
      </td>
      <% end %>
    </tr>
<% end %>
  </tbody>
</table>
