<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_department_gallery_path(@department), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Gallery.model_name.human ) %>
  <% end if can? :create, Gallery %>
<% end %>

<div class="window box">
  <% if false %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= Gallery.human_attribute_name(:name) %></th>
        <th></th>
        <% if can? :update, Gallery %>
        <th></th>
        <% end %>
        <% if can? :destroy, Gallery %>
        <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @galleries.each do |gallery| %>
      <tr>
        <td><%= gallery.name %></td>
        <td><%= link_to t('general.show'), gallery %></td>
        <% if can? :update, gallery %>
        <td><%= link_to t('general.edit'), edit_gallery_path(gallery) %></td>
        <% end %>
        <% if can? :destroy, gallery %>
        <td>
          <%= link_to gallery, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= t('general.destroy') %>
          <% end %>
        </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
  <% end %>

  <%#= polymorphic_path(Department.first, :action => :edit, :only_path => true) %>

  <div class="row">
    <%= render(:partial => 'galleries/gallery', :collection => @galleries, :as => 'gallery') %>
  </div>
</div>

<div class="window">
  <div class="box"><h4>Mehr Infos</h4>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
      <li><a href="#profile" data-toggle="tab">Profile</a></li>
      <li><a href="#messages" data-toggle="tab">Messages</a></li>
      <li><a href="#settings" data-toggle="tab">Settings</a></li>
    </ul>
  </div>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade active" id="home">...</div>
    <div class="tab-pane fade" id="profile">...</div>
    <div class="tab-pane fade" id="messages">
      <%= render :partial => 'messages/message_excerpt', :collection => @department.messages.chronological.limit(4), :as => :message, :locals => { :size => :large } %>
    </div>
    <div class="tab-pane fade" id="settings">...</div>
  </div>

  
</div>
