<div class="page-header">
  <%= link_to galleries_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if can? :update, @gallery %>
    <%= link_to edit_gallery_path(@gallery), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h1>Show gallery</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @gallery.name %></dd>

</dl>

<div id="images" class="row">
  <%= render(:partial => 'images/image', :collection => @images, :as => 'image') %>
</div>
<div class="clear"></div>

<% if can?(:update, Image) %>
  <%= simple_form_for [@gallery, @image], :html => { :class => "fileupload", :multipart => true } do |f| %>
    <%# f.input_field :file, :as => :file, name: "image[file]",  :multiple => true, :class => "btn btn-file" %>

    <div class="btn btn-default btn-file btn-primary fileinput-button">
      <i class="glyphicon glyphicon-plus"></i>
      <span>Add Files...</span>
      <%= f.file_field :file, name: "image[file]", :multiple => true, :class => "btn btn-file fileinput-button" %>
      <!-- Style Upload: http://stackoverflow.com/questions/14509449/styling-file-upload-button-for-simple-form-for-with-bootstrap-in-rails-3 -->
    </div>
  </div>
  <% end %>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress progress-striped active"><div class="progress-bar" style="width: 0%"></div></div>
</div>
</script>
<script id="template-download" type="text/x-tmpl">
  // template content
</script>
