<% content_for :title do %>
  <%= t ".title", :name => @gallery.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_galleries_path(@gallery.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @gallery %>
    <%= link_to edit_gallery_path(@gallery), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">
  <div id="images" class="row">
    <%= render(:partial => 'images/image', :collection => @images, :as => 'image') %>
  </div>
</div>