<% content_for :title do %>
  <%= t ".title", :name => @gallery.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to department_galleries_path(@gallery.department), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @gallery %>
    <%= link_to edit_gallery_path(@gallery), :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">

  <%= form_tag edit_multiple_images_path, method: :get do %>
    <div id="images" class="row">
      <%= render(:partial => 'images/image', :collection => @images, :as => 'image') %>
    </div>
    <% if can? :update, @gallery %>
      <div class="form-group">
        <%= button_tag :type => "submit", :class => "btn btn-default" do %>
          <span class="glyphicon glyphicon-edit"></span>
          <%= t("general.edit_selected") %>
        <% end %>
        <%= button_tag :type => "submit", :class => "btn btn-default", data: { confirm: t("general.are_you_sure")} do %>
          <span class="glyphicon glyphicon-trash"></span>
          <%= t("general.destroy_selected") %>
        <% end %>
        <%= button_tag :class => "btn btn-default select-all" do %>
          <span class="glyphicon glyphicon-ok"></span>
          <%= t("general.select_all") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <div class="clear"></div>

  <% if can?(:update, Image) %>
    <%= simple_form_for [@gallery, @image], :html => { :class => "fileupload", :multipart => true } do |f| %>
      <%# f.input_field :file, :as => :file, name: "image[file]",  :multiple => true, :class => "btn btn-file" %>

      <div class="btn btn-default btn-file btn-primary fileinput-button">
        <span class="glyphicon glyphicon-plus"></span>
        <span><%= t "general.add_files" %></span>
        <%= f.file_field :file, name: "image[file]", :multiple => true, :class => "btn btn-file fileinput-button" %>
        <!-- Style Upload: http://stackoverflow.com/questions/14509449/styling-file-upload-button-for-simple-form-for-with-bootstrap-in-rails-3 -->
    </div>
    <% end %>
  <% end %>

  <script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress progress-striped active"><div class="progress-bar" style="width: 0%"></div></div>
  </div>
  </script>
  <script id="template-download" type="text/x-tmpl">
    // template content
  </script>

</div>
