<%= javascript_tag do %>
  window.department_id = '<%= @department.id %>';
<% end %>

<%= simple_form_for(shallow_args(@department, @linkable)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.fields_for :link, @linkable.link do |ff| %>
      <%= render :partial => 'links/linkable_fields', :object => @linkable, :as => "linkable", :locals => { :f => ff } %>
    <% end %>

    <%= f.input(:controller_id, :collection => @controllers, :include_blank => true,
        :label_method => lambda { |obj| obj.classify.constantize.model_name.human }, :class => 'form-control') %>

    <div id="controllerDependentForm">
      <%= render :partial => 'controller_dependent' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
        <%= f.button :submit, :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
