<%= javascript_tag do %>
  window.department_id = '<%= @department.id %>';
<% end %>

<div class="window box">
  <%= simple_form_for(shallow_args(@department, @linkable)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.fields_for :link, @linkable.link do |ff| %>
        <%= render :partial => 'links/linkable_fields', :object => @linkable, :as => "linkable", :locals => { :f => ff } %>
      <% end %>

      <%#= f.input(:controller_id, :collection => @controllers, :include_blank => true,
          :label_method => lambda { |obj| obj.classify.constantize.model_name.human }, :class => 'form-control') %>

      <%= f.input :controller_id do %>
        <%# NOTE: remove class form-control when simple forms updates to bootstrap 3 %>
        <%= f.select("controller_id", @controllers, {:include_blank => true}, :class => 'form-control') %>
      <% end %>

      <div id="controllerDependentForm">
        <%= render :partial => 'controller_dependent' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
          <%= f.button :submit, :class => "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
