<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_carnival_session_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Carnival::Session.model_name.human ) %>
  <% end if can? :create, Carnival::Session %>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= Carnival::Session.human_attribute_name("name") %></th>
        <th><%= Carnival::Session.human_attribute_name("term") %></th>
        <th></th>
        <% if can? :update, Carnival::Session %>
        <th></th>
        <% end %>
        <% if can? :destroy, Carnival::Session %>
        <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @carnival_sessions.each do |carnival_session| %>
      <tr>
        <td><%= carnival_session.name %></td>
        <td><%= carnival_session.term %></td>
        <td><%= link_to t('general.show'), carnival_session %></td>
        <% if can? :update, carnival_session %>
        <td><%= link_to t('general.edit'), edit_carnival_session_path(carnival_session) %></td>
        <% end %>
        <% if can? :destroy, carnival_session %>
        <td>
          <%= link_to carnival_session, method: :delete, data: { confirm: t('general.are_you_sure') } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <%= t('general.destroy') %>
          <% end %>
        </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
