<div class="col-md-6 nested-fields">
  <div class="wrapper">
    <%= f.association :session,
          :as => :select,
          :collection => Carnival::Session.order(:name => :asc, :term => :asc),
          :label_method => :display,
          :value_method => :id,
          :include_blank => true,
          :input_html => { :class => "chosen"} %>
    <%= f.association :category,
          :as => :select,
          :collection => Carnival::Category.order(:name => :asc, :price => :asc),
          :label_method => :display,
          :value_method => :id,
          :include_blank => true,
          :input_html => { :class => "chosen"} %>
    <%= f.input :amount %>

    <hr />

    <%= f.hidden_field :_destroy %>

    <div class="form-group">
      <div class="col-lg-offset-3 col-lg-9">
        <%= link_to_remove_association(
      content_tag( :span, "", :class => "glyphicon glyphicon-minus" ) + " "\
      + "Remove", f, :class => "btn btn-default" ) %>
      </div>
    </div>
  </div>
</div>