<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_trainer_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Trainer.model_name.human ) %>
  <% end if can? :create, Trainer %>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped datatable defaults secondCol">
    <thead>
      <tr>
        <th class="no-sort"></th>
        <th data-class="expand"><%= Trainer.human_attribute_name(:name) %></th>
        <th data-hide="xxs,xs,sm" class="no-sort"><%= Trainer.human_attribute_name(:training_groups) %></th>
        <%# if can? :update, User %>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @trainers.each do |trainer| %>
      <tr>
        <td data-order="<%= trainer.name %>"><%= link_to(image_tag(trainer.image.file_url(:thumb)), trainer.image.file_url, :class => "fancybox") if trainer.image.present? %></td>
        <td><%= link_to trainer.name, trainer %></td>
        <td>
          <% trainer.training_groups.each do |training_group| %>
            <%= link_to_pill training_group.name, training_group %>
          <% end %>
        </td>
        <%# if can? :update, trainer %>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_trainer_path(trainer), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, trainer %>
              <%= link_to trainer, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
