<% content_for :title do %>
  <%= t ".title", :name => @trainer.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to trainers_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @trainer %>
    <%= link_to edit_trainer_path(@trainer), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window box">
  <div class="row">
    <div class="col-md-8">
      <h3>
        <span class="glyphicon glyphicon-info-sign"></span>
        <%= t ".info" %>
      </h3>
      <dl class="dl-horizontal">
        <dt><%= Trainer.human_attribute_name(:age) %>:</dt>
        <dd>
          <%#= l @trainer.birthday, :format => :long unless @trainer.birthday.nil? %>
          <%= age @trainer.birthday unless @trainer.birthday.nil? %>
        </dd>

        <dt><%= Trainer.human_attribute_name(:residence) %>:</dt>
        <dd><%= @trainer.residence %></dd>

        <dt><%= Trainer.human_attribute_name(:phone) %>:</dt>
        <dd><%= @trainer.phone %></dd>

        <dt><%= Trainer.human_attribute_name(:email) %>:</dt>
        <dd>
          <%= mail_to @trainer.email, encode: "hex", :class => "email" do %>
            <span class="glyphicon glyphicon-envelope"></span> Email
          <% end %>
        </dd>

        <dt><%= Trainer.human_attribute_name(:profession) %>:</dt>
        <dd><%= @trainer.profession %></dd>

        <dt><%= Trainer.human_attribute_name(:education) %>:</dt>
        <dd><%= @trainer.education %></dd>

        <dt><%= Trainer.human_attribute_name(:disciplines) %>:</dt>
        <dd><%= @trainer.disciplines %></dd>

        <dt><%= Trainer.human_attribute_name(:activities) %>:</dt>
        <dd><%= @trainer.activities %></dd>

      </dl>
    </div>
    <div class="col-md-4">
      <%= link_to(image_tag(@trainer.image.file_url, :class => "img-responsive"), @trainer.image.file_url, :class => "fancybox") if @trainer.image.present? %>
    </div>
  </div>
</div>

<div class="window box">
  <h3><%= TrainingGroup.model_name.human(:count => :lots) %></h3>
  <table class="table table-bordered table-striped datatable defaults">
    <thead>
      <tr>
        <th data-class="expand"><%= TrainingUnit.human_attribute_name(:training_groups) %></th>
        <th data-hide="xxs,xs,sm"><%= TrainingUnit.human_attribute_name(:department) %></th>
        <th><%= TrainingUnit.human_attribute_name(:week_day) %></th>
        <th data-hide="xxs"><%= TrainingUnit.human_attribute_name(:time) %></th>
      </tr>
    </thead>
    <tbody>
      <% @trainer.training_groups.each do |training_group| %>
        <% training_group.training_units.each do |training_unit| %>
          <tr>
            <td><%= link_to_pill training_group.name, training_group %></td>
            <td><%= link_to_pill training_group.department.name, training_group.department %></td>
            <td><%= training_unit.display_week_day %></td>
            <td><%= training_unit.time %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
