<% content_for :title do %>
  <%= t ".title" %>
<% end %>

<% content_for :buttons do %>
  <%= link_to new_location_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('general.create_model', :model => Location.model_name.human ) %>
  <% end if can? :create, Location %>
  <%= link_to interactive_map_locations_path, class: "btn btn-default", 'data-no-turbolink' => false  do %>
    <span class="glyphicon glyphicon-map-marker"></span>
    <%= t "locations.interactive_map" %>
  <% end if false %>
<% end %>

<div class="window box">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th><%= Location.human_attribute_name(:name) %></th>
        <th><%= Location.human_attribute_name(:address) %>:</th>
        <th><%= Location.human_attribute_name(:schedule) %>:</th>
        <% if user_signed_in? %>
          <th class="no-sort"><%= t "general.actions" %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
  <% @locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %></td>
        <td><%= location.address %></td>
        <td>
          <%= link_to schedule_location_path(location, :season => "summer") do %>
            <span class="glyphicon glyphicon-calendar"></span>
            <%= t "general.summer" %>
          <% end %>
          <br />
          <%= link_to schedule_location_path(location, :season => "winter") do %>
            <span class="glyphicon glyphicon-calendar"></span>
            <%= t "general.winter" %>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <td>
            <%= link_to edit_location_path(location), :title => t("general.edit"), :data => {:toggle => "tooltip"} do %>
              <%= tag :span, :class => "glyphicon glyphicon-edit" %>
            <% end %>
            <% if can? :destroy, location %>
              <%= link_to location, :title => t("general.destroy"), data: { confirm: t('general.are_you_sure'), :toggle => "tooltip" }, method: :delete do %>
                <%= tag :span, :class => "glyphicon glyphicon-trash" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
    </tbody>
  </table>
</div>
