<% content_for :title do %>
  <%= t ".title", :name => @location.name %>
<% end %>

<% content_for :buttons do %>
  <%= link_to locations_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t "general.list" %>
  <% end %>
  <% if can? :update, @location %>
    <%= link_to edit_location_path(@location), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
      <%= t "general.edit" %>
    <% end %>
  <% end %>
<% end %>

<div class="window">
  <div class="box">
    <h1>
      <%= t ".title", :name => @location.name %>
    </h1>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-md-8">
        <h3>
          <span class="glyphicon glyphicon-info-sign"></span>
          <%= t ".info" %>
        </h3>
        <dl class="dl-horizontal">
          <dt><%= Location.human_attribute_name(:name) %>:</dt>
          <dd><%= @location.name %></dd>

          <dt><%= Location.human_attribute_name(:address) %>:</dt>
          <dd><%= @location.address %></dd>

          <dt><%= Location.human_attribute_name(:description) %>:</dt>
          <dd><%= @location.description %></dd>
        </dl>
      </div>
      <div class="col-md-4">
        <h3>
          <span class="glyphicon glyphicon-picture"></span>
          <%= t "general.photo" %>
        </h3>
        <%= link_to(image_tag(@location.image.file_url, :class => "img-responsive"), @location.image.file_url, :class => "fancybox") if @location.image.present? %>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <div class="col-md-8">
        <h3>
          <span class="glyphicon glyphicon-calendar"></span>
          <%= Location.human_attribute_name(:schedule) %>
        </h3>
        <dl class="dl-horizontal">
          <dt><%= Location.human_attribute_name(:schedule) %>:</td>
          <dd>
            <%= link_to schedule_location_path(@location, :season => "summer") do %>
              <span class="glyphicon glyphicon-calendar"></span>
              <%= t "general.summer" %>
            <% end %>
            <br />
            <%= link_to schedule_location_path(@location, :season => "winter") do %>
              <span class="glyphicon glyphicon-calendar"></span>
              <%= t "general.winter" %>
            <% end %>
          </dd>
        </dl>
      </div>
      <div class="col-md-4">
        <h3>
          <span class="glyphicon glyphicon-map-marker"></span>
          <%= t "general.map" %>
        </h3>
        <% zoom = 14 %>
        <%#= link_to "http://maps.google.com/?ie=UTF8&hq=&&ll=#{@location.latitude},#{@location.longitude}&z=#{zoom}" do %>
        <%#= link_to "http://maps.google.com/maps?q=#{@location.latitude},#{@location.longitude}&z=#{zoom}" do %>
        <%= link_to "http://maps.google.com/maps?q=#{@location.address}&z=#{zoom}" do %>
         <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=#{zoom}&markers=#{@location.latitude}%2C#{@location.longitude}", :class => "img-responsive" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

  <%# TODO: Add location occupancy plan %>

<% if false %>
<div class="window box">
  <h3><%= TrainingGroup.human_attribute_name(:training_units) %></h3>
  <table class="table table-bordered table-striped datatable searchable">
    <thead>
      <tr>
        <th data-class="expand"><%= TrainingUnit.human_attribute_name(:week_day) %></th>
        <th><%= TrainingUnit.human_attribute_name(:time) %></th>
        <th data-hide="xxs,xs,sm"><%= TrainingUnit.human_attribute_name(:location_summer) %></th>
        <th data-hide="xxs,xs,sm"><%= TrainingUnit.human_attribute_name(:location_winter) %></th>
      </tr>
    </thead>
    <tbody>
      <% @location.training_units_winter.each do |training_unit| %>
        <tr>
          <!-- <td><%#= link_to training_group.name, training_group %></td>
          <td><%#= link_to training_group.department.name, training_group.department %></td> -->
          <td><%= Date::DAYNAMES[training_unit.week_day] %></td>
          <td><%= training_unit.time %></td>
          <td><%= link_to training_unit.location_summer.name, training_unit.location_summer %></td>
          <td><%= link_to training_unit.location_winter.name, training_unit.location_winter %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
