<%# http://stackoverflow.com/a/7881490/871495 %>
<%# does not work with turbolinks
therefore it needs to be included directly in place or in administration.js %>
<%#= content_for :head do %>
  <%#= stylesheet_link_tag 'jquery.jcrop' %>
  <%#= javascript_include_tag 'jquery.jcrop', 'crop', 'crop_loader' %>
<%# end %>

<div class="crop-widget">
  <%# Field that is needed to pass dimension information to javascript %>
  <%= content_tag :div, "", class: "image-info", data: {'image-id' => image.id, 'thumb-width' => image.class.thumb_width, 'thumb-height' => image.class.thumb_height}, :style => "display: none" %>
  <div class="form-group">
    <label class="string optional col-lg-3 control-label"><%= t('.original') %></label>
    <div class="col-lg-6">
      <div class="cropbox-input-group">
        <%# TODO: parametrize this %>
        <%#= f.cropbox :file, version: :full, width: 800, height: 600 %>
        <%#= f.cropbox :file, max_width: image.class.crop_width, max_height: image.class.crop_width %>
        <%= cropbox image, :file, max_width: image.class.crop_width, max_height: image.class.crop_height %><%# with parameter :version => :full another version could be used as basis for cropping %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="coordinates" class="string optional col-lg-3 control-label"><%= t('.coordinates') %></label>
    <div class="col-lg-9">
      <div class="coordinates">
        <% model_name = image.class.name.downcase.split("::").last %>
        <% %w[x y w h].each do |attribute| %>
          <!-- <input id="image_file_crop_<%= attribute %>" /> -->
          <label class="string optional col-xs-1 control-label" style="width: 32px"><%= attribute+': ' %></label>
          <div class="col-xs-2">
            <!--<input id="<%= model_name %>_indicator_crop_<%= attribute %>" class="form-control form-control" disabled="disabled" />-->
            <input class="indicator_crop_<%= attribute %> form-control form-control input-sm" disabled="disabled" />
          </div>
        <% end if true %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="string optional col-lg-3 control-label"><%= t('.preview') %></label>
    <div class="col-lg-9">
      <div class="previewbox-input-group">
        <%#= f.previewbox :file, width: image.class.preview_width, height: image.class.preview_height %>
        <%= previewbox image, :file, width: image.class.preview_width, height: image.class.preview_height %><%# with parameter :version => :full another version could be used as basis for cropping %>
        <%#= f.previewbox :file, width: 272, height: 37 %>
      </div>
    </div>
  </div>
</div>