<% content_for :title do %>
  <%#= t('general.create_model', :model => Message.model_name.human ) %>
  <%= t('.title') %>
<% end %>

<% content_for :buttons do %>
  <%= link_to [:edit, @image], :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-edit"></span>
    <%= t 'general.back' %>
  <% end %>
<% end %>

<div class="window box">
  <%= simple_form_for @image, :as => :image do |f| %>
    <%= f.error_notification %>

    <%= render :partial => 'crop', :locals => {:image => @image, :f => f} %>
  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-3 col-lg-9">
      <%#= f.button :submit, :class => "btn btn-primary btn-sm" %>
      <%= f.submit t('general.crop'), :class => "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>