<!--
  Height:
  http://jquery.malsup.com/cycle2/demo/autoheight.php
  Non-Image Slides:
  http://jquery.malsup.com/cycle2/demo/non-image.php
  Complex Layout with many animations:
  http://jsfiddle.net/defonic/npqB5/
  Progress Indicator:
  http://codepen.io/BrandFever/pen/lyfAv
  http://jquery.malsup.com/cycle2/demo/progress.php
-->
<% announcements = Announcement.active.visible.includes(:image).load %>

<% cache(cache_key_for(announcements), skip_digest: true) do %>
  <div class="box small-spacing">
    <div class="cycle-slideshow"
      data-cycle-slides="> a"
      data-cycle-overlay=".cycle-overlay"
      data-cycle-overlay-template="<span class=page>&nbsp;<br>{{slideNum}} / {{slideCount}}</span><span class=caption>{{caption}}</span>"

      data-cycle-auto-height="1:1"

      data-cycle-random=false
      data-cycle-starting-slide=<%= rand(1..announcements.count) %>

      data-cycle-fx=scrollHorz
      data-cycle-timeout=5000
      data-cycle-pause-on-hover="true">
      <!--
        data-cycle-caption-plugin=caption2 does not work because of timer conflicts with turbolinks
        https://github.com/inossidabile/blog/blob/master/source/_posts/2013-01-18-dangers-of-turbolinks.markdown
      -->

      <!-- empty element for overlay -->
      <div class="overlay">
        <div class="cycle-overlay"></div>
      </div>

      <% announcements.each do |announcement| %>
        <%= link_to announcement.get_link,
          class: (announcement.link.present? ? '' : 'fancybox'),
          :data => { :caption => simple_format(announcement.caption) } do %>
          <%# http://stackoverflow.com/questions/4253689/parsing-newline-characters-in-textareas-without-allowing-all-html-tags %>
          <%= image_tag announcement.image.file_url(:_300x300), title: announcement.name %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>







<!--  Carousel - consult the Twitter Bootstrap docs at
    http://twitter.github.com/bootstrap/javascript.html#carousel -->
<% if false %><% announcements = Announcement.active.visible %>
<div id="announcement-carousel" class="carousel slide box small-spacing hidden-xs"><!-- class of slide for animation -->
  <ol class="carousel-indicators">
    <% announcements.each do |announcement| %>
      <li data-target="#announcement-carousel" data-slide-to="0"></li>
    <% end %>
  </ol>
  <div class="carousel-inner">
    <% announcements.each do |announcement| %>
      <div class="item">
        <%= link_to announcement.link do %>
          <%#= raw announcement.content %>
          <%= image_tag(announcement.image.file_url, :class => "img-responsive") %>
        <% end %>
        <div class="carousel-caption">
          <p><%= announcement.name %></p>
        </div>
      </div>
    <% end %>
  </div>
  <!--  Next and Previous controls below
        href values must reference the id for this carousel -->
  <!-- <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a> -->

  <!-- Controls -->
  <a class="left carousel-control" href="#announcement-carousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#announcement-carousel" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div><% end %>

<% if false %><div class="box small small-spacing">
  <% announcement = Announcement.find(2) %>

  <div class="mediaWrapper" style="margin-bottom: 0px; height: 360px"><!-- or max height -->
    <div class="mediaObject" style="height: 360px; overflow:hidden; background-color: rgb(50, 0, 0)"><!-- or max height -->
      <%= image_tag(announcement.image.file_url, :class => "img-responsive") %>
      <div class="mediaOverlay bottom" style="background-color: rgba(0,0,0,0.5); padding: 12px; color: white; font-size: 1.1em; line-height: 1.5em">
        <div style="height: 2px; width: 120px; background-color: green">&nbsp;</div>
        <div style="float: left">Spring<br />
        Sonnenberg Gardens</div>
        <div style="float: right">
          Seite 1/4
        </div>
      </div>
    </div>
  </div>
</div><% end %>

<% if false %><ul class="box small-spacing list-group">
  <% announcements.each do |announcement| %>
    <li class="list-group-item">
      <%= link_to announcement.link do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        <%= announcement.name %>
      <% end %>
    </li>
  <% end %>
</ul><% end %>