<!-- <nav class="navbar navbar-default" role="menu" id="department_navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sub_navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to @department.name, @department, :class => "navbar-brand" %>
  </div>

  <div class="collapse navbar-collapse" id="sub_navigation">
    <ul class="nav navbar-nav">
      <%= render :partial => "layouts/top_level_navigation", collection: NavigationElement.department(@department.id).roots, :as => :navigation_element %>
    </ul>
  </div>
</nav> -->




<div class="window navigation-bar blue">
    
  <div class="navigation-header">
    <button class="navigation-bar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to @department.name, @department, :class => "navigation-brand" %>
  </div>

  <div class="navigation-collapse">
    <ul class="navigation right">
      <%= render :partial => "layouts/simple_navigation", collection: NavigationElement.department(@department.id).roots, :as => :navigation_element %>
    </ul>
    <% if can? :update, @department %>
      <ul class="navigation left">
        <li><%= link_to "Verwaltung", "#" %>
          <ul>
            <li><%= link_to "Seiten", pages_path %></li>
            <li><%= link_to "Navigation", department_navigation_elements_path(@department) %>
              <ul>
                <li><%= link_to "Sublevel", department_navigation_elements_path(@department) %>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</div>