<div class="window navigation-bar blue">
    
  <div class="navigation-header">
    <button class="navigation-bar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to @department.name, @department, :class => "navigation-brand" %>
  </div>

  <div class="navigation-collapse">
    <ul class="navigation right">
      <% links = Link.department(@department.id).roots.active %>
      <% cache(['department_navigation', cache_key_for(links)], skip_digest: true) do %>
        <%= render :partial => "layouts/simple_navigation", collection: links, :as => :link %>
      <% end %>
    </ul>
    <% if can? :update, @department %>
      <ul class="navigation left">
        <li>
          <%= link_to "#" do %>
            <%= fa_icon "key" %>
            Verwaltung<% end %><%# Prevent whitespaces here %>
          <ul>
            <li><%= link_to t("general.navigation"), department_links_path(@department) %>
              <ul>
                <li><%= link_to "Anordnung", sort_department_links_path(@department) %>
              </ul>
            </li>
            <li><%= link_to Trainer.model_name.human(:count => :lots), trainers_path %>
            <li><%= link_to TrainingGroup.model_name.human(:count => :lots), department_training_groups_path(@department)  %>
            <li><%= link_to Event.model_name.human(:count => :lots), department_events_path(@department) %>
            <li><%= link_to QuickLink.model_name.human(:count => :lots), department_quick_links_path(@department) %>
            <li><%= link_to Document.model_name.human(:count => :lots), department_documents_path(@department) %>
            <li><%= link_to Department.model_name.human, edit_department_path(@department) %>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</div>