<div class="" id="header">
  <div class="row">
    <div class="col-md-5 left">
      <div class="media">
        <%= link_to root_path, class: "pull-left" do %>
          <%= image_tag "tgt-logo.png", class: "media-object" %>
        <% end %>
        <div id="title" class="media-body">
          <h4><%= APP_CONFIG['header']['title'] %></h4>
          <h4><%= APP_CONFIG['header']['subtitle'] %></h4>
        </div>
      </div>
    </div>
    <div class="col-md-4 middle">
      <%#= image_tag "leichtathletik.png" %>
    </div>
    <div class="col-md-3">
      <form action="<%= messages_path %>">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
          <input type="text" name="search_term" class="form-control" placeholder="<%= t("general.search_term") %>">
        </div>
      </form>
    </div>
  </div>
</div>
