<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"> <!-- Needed to center the navbar content -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag 'tgt-logo.png', :id => 'tgt-logo' %>
      <%= link_to "/", :class => "navbar-brand" do %>
        TG Traisa
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <%= render :partial => "layouts/top_level_navigation", collection: NavigationElement.top_level.roots, :as => :navigation_element %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Account <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
              <%= link_to('Edit account', edit_user_registration_path) %>
              </li>
              <li>
              <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>        
              </li>
            <% else %>
              <li>
              <%= link_to('Sign up', new_user_registration_path)  %>
              </li>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>