<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container"> <!-- Needed to center the navbar content -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%#= image_tag 'tgt-logo_small.png', :id => 'logoSmall' %>
      <%= link_to "/", :class => "navbar-brand" do %>
        TG Traisa
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">

         <%# Error: Couldn't find template for digesting: navigation_elements/navigation_element.html
          not solved but message disappeard after removing alle cache ... directives inside this top level caching and removing all cache_digest stuff even inside comments
          https://github.com/rails/cache_digests/pull/16
          https://github.com/rails/cache_digests/issues/60 %>

        <%# Fragment caching for index action with no parent object:
          Possible Attemps:
          In use: http://stackoverflow.com/questions/14816992/how-to-handle-key-based-expiration-of-collections-if-there-is-no-parent-model-in
          http://stackoverflow.com/questions/21767949/rails-caching-a-paginated-collection
            https://gist.github.com/aaronjensen/6062912
          cache_key_for_products:
            http://guides.rubyonrails.org/caching_with_rails.html#fragment-caching
            http://blog.berylliumwork.com/2013/08/cache-collectpion-in-rails.html
          http://www.sitepoint.com/caching-cache-digest/
        %>

        <% links = Link.top_level.roots.active %>
        <% cache(['navigation', cache_key_for(links)], skip_digest: true) do %>
          <%# Template Dependency: layouts/top_level_navigation %>
          <%= render :partial => "layouts/top_level_navigation", collection: links, :as => :link, :locals => {:simple => false} %>
          <%# http://api.rubyonrails.org/classes/ActionView/Helpers/CacheHelper.html %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user && current_user.has_role?('editor') %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <%= fa_icon "key" %>
              <%= t ".administration" %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% generic_department = Department.where(:name=>"generic").first %>
              <%= content_tag :li do %>
                <%= link_to t("general.navigation"), department_links_path(generic_department) %>
              <% end if current_user.can?(:edit, generic_department) %>
              <%= content_tag :li do %>
                <%= link_to Message.model_name.human(:count => :lots), messages_path %>
              <% end if current_user.can?(:edit, Message) #:messages %>
              <%= content_tag :li do %>
                <%= link_to Link.model_name.human(:count => :lots), department_links_path(generic_department) %>
              <% end if current_user.can?(:edit, Link) #:links %>
              <%= content_tag :li do %>
                <%= link_to(Announcement.model_name.human(:count => :lots), announcements_path) %>
              <% end if current_user.can?(:edit, Announcement) #:announcements %>
              <%= content_tag :li do %>
                <%= link_to(User.model_name.human(:count => :lots), users_path) %>
              <% end if current_user.can?(:edit, User) #:users %>
              <%= content_tag :li do %>
                <%= link_to(Department.model_name.human(:count => :lots), departments_path) %>
              <% end if current_user.can?(:edit, Department) #:departments %>
              <%= content_tag :li do %>
                <%= link_to(Theme.model_name.human(:count => :lots), themes_path) %>
              <% end if current_user.can?(:edit, Theme) #:themes %>
            </ul>
          </li>
        <% end %>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <% if user_signed_in?  %>
              <%= current_user.name %>
            <% else %>
              <%= t ".account" %>
            <% end %>

            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% if user_signed_in? %>
              <li>
              <%= link_to(t('.show_account'), show_user_registration_path) %>
              </li>
              <li>
              <%= link_to(t('.logout'), destroy_user_session_path(:referring_page => request.fullpath), :method=>'delete') %>        
              </li>
            <% else %>
              <li>
              <%= link_to(t('.sign_up'), new_user_registration_path)  %>
              </li>
              <li>
              <%= link_to(t('.login'), new_user_session_path(:referring_page => request.fullpath)) %>  
              </li>
            <% end %>
            <%= content_tag :li do %>
              <%= link_to "English", locale: :en %>
            <% end unless I18n.locale == :en %>
            <%= content_tag :li do %>
              <%= link_to "Deutsch", locale: :de %>
            <% end unless I18n.locale == :de %>
            <%= content_tag :li do %>
              <%= link_to "Tagesschau", theme: :tagesschau %>
            <% end unless session[:theme] == 'tagesschau' %>
            <%= content_tag :li do %>
              <%= link_to "Professional", theme: :professional %>
            <% end unless session[:theme] == 'professional' %>
          </ul>
        </li>

        <!--<li><a href="#about"><%= t ".about" %></a></li>-->
        <% if Rails.env.development? %>
        <li>
          <a href="#">
            <span class="visible-xs">XS</span>
            <span class="visible-sm">SM</span>
            <span class="visible-md">MD</span>
            <span class="visible-lg">LG</span>
          </a>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
