<div id="sidebar" class="<%= (params[:action] != 'home') ? 'no-mobile' : '' %>">

  <%
    if @department.present?
      department = @department
    else
      generic_department = Department.where(:name=>"generic").first
      department = generic_department
    end
  %> 

  <% quick_links = department.quick_links %>
  <% quick_links.sorted.each do |quick_link| %>
    <%= link_to quick_link.get_url, class: 'window box obtrusive link quick-link' do %>
      <%= fa_icon 'chevron-circle-right' %> <%= quick_link.name %>
    <% end %>
  <% end %>

  <div class="window transparent box sponsors">
    <div class="sponsor-headline">unterstützt durch:</div>
    <div class="sponsor-images row">
      <%= link_to 'http://www.sparkasse-darmstadt.de', class: "col-xs-6" do %>
        <%= image_tag "sponsors/sparkasse.svg", :class => "img-responsive", :size => '447x186'%>
      <% end %>
      <%= link_to 'http://www.merck.de', class: "col-xs-6" do %>
        <%= image_tag "sponsors/merck.svg", :class => "img-responsive", :size => '530x374' %>
      <% end %>
    </div>
  </div>

  <%= yield(:sidebar) %>

  <%# <div class="window box"> %>
  <div class="window box">
    <h4>
      <%= t ".galleries" %>
    </h4>
  <!--</div>
  <div>-->
    <br />
    <div class="row">
      <%# Select galleries with at least one child/image: http://stackoverflow.com/questions/9922833/rails-how-to-get-objects-with-at-least-one-child %>
      <% galleries = department.galleries.joins(:images).uniq.chronological.limit(4) %>
      <% cache(['widget', cache_key_for(galleries)], skip_digest: true) do %>

        <%= render(:partial => 'galleries/gallery', :collection => galleries.chronological, :as => 'gallery', :locals => {:box_class => "col-sm-6 col-xs-4", :display_info => true, :num_preview_images => 3}) if false %>
        <% galleries.each do |gallery| %>
          <% if image = gallery.get_preview_image %>
            <div class="col-sm-6 col-xs-4">
            <!--<div class="col-sm-6">-->
              <div class="mediaWrapper">
                <%#= link_to(image.file_url, :class => 'fancybox', :rel => 'galleries', :caption => gallery.name) do %>
                <%= link_to gallery, :title => gallery.name, :data => {:toggle => "tooltip"}, :style => "display: block" do %>
                  <%= image_tag image.file_url(:miniature), :size => '168x112', :class => "img-responsive" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="window box events">
    <h4>
      <%= t ".events" %>
    </h4>
    <br />
    <%
      events = department.events.chronological.upcoming.limit(5)
      event_months = events.group_by { |event| event.term.beginning_of_month }
    %>

    <% event_months.keys.sort.each do |month| %>
      <div><b><%= l( month, :format => :year_month ) %></b></div>
      <ul>
        <% for event in event_months[month] %>
          <li><b><%= l( event.term, :format => :month_day ) %><%#= event.term.day.ordinalize %></b> <%= link_to event.name, event %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
