<div id="sidebar" class="<%= (params[:action] != 'home') ? 'no-mobile' : '' %>">
  <div class="window box obtrusive">
    <h4>
      <%= fa_icon 'chevron-circle-right' %>
      Ortslauf
    </h4>
  </div>

  <div class="window box obtrusive">
    <h4>
      <%= fa_icon 'chevron-circle-right' %>
      Hallensportfest
    </h4>
  </div>

  <div class="window transparent box sponsors">
    <div class="sponsor-headline">unterstützt durch:</div>
    <div class="sponsor-images row">
      <%= link_to 'http://www.sparkasse-darmstadt.de', class: "col-xs-6" do %>
        <%= image_tag "sponsors/sparkasse.svg", :class => "img-responsive" %>
      <% end %>
      <%= link_to 'http://www.merck.de', class: "col-xs-6" do %>
        <%= image_tag "sponsors/merck.svg", :class => "img-responsive" %>
      <% end %>
    </div>
  </div>

  <%= yield(:sidebar) %>

  <div class="window box">
    <h4>
      <%= t ".galleries" %>
    </h4>
    <div class="row">
      <%# Select galleries with at least one child/image: http://stackoverflow.com/questions/9922833/rails-how-to-get-objects-with-at-least-one-child %>
      <% galleries = Gallery.joins(:images).uniq.chronological.limit(6) %>
      <% cache(['widget', cache_key_for(galleries)], skip_digest: true) do %>
        <% galleries.each do |gallery| %>
          <% if image = gallery.get_preview_image %>
            <div class="col-sm-4 col-xs-6">
              <div class="mediaWrapper">
                <%#= link_to(image.file_url, :class => 'fancybox', :rel => 'galleries', :caption => gallery.name) do %>
                <%= link_to gallery, :title => gallery.name, :data => {:toggle => "tooltip"}, :style => "display: block" do %>
                  <%= image_tag image.file_url(:_260x180), :class => "img-responsive" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="window box events">
    <h4>
      <%= t ".events" %>
    </h4>
    <%
      events = Event.chronological.upcoming.limit(3)
      event_months = events.group_by { |event| event.term.beginning_of_month }
    %>

    <% event_months.keys.sort.each do |month| %>
      <div><b><%= l( month, :format => :year_month ) %></b></div>
      <ul>
        <% for event in event_months[month] %>
          <li><b><%= l( month, :format => :month_day ) %><%#= event.term.day.ordinalize %></b> <%= link_to event.name, event %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
