<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <%= raw [content_for(:title), "Turngemeinde 1879 Traisa e.V."].compact.join(' - ') %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- this is necessary to prevent quirks mode in IE -->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <div class="container">

    <!-- <div id="logoWrapper">
      <%= image_tag 'tgt-logo.png', :id => 'logo' %>
      <h1>Turngemeinde 1879 Traisa e.V.</h1>
    </div> -->

    <%= yield :sub_navigation %>
    
    <%= render 'layouts/messages' %>

    <% if content_for?(:title) %>
      <div class="page-header window box">
        <div class="pull-right button-group">
          <%= yield(:buttons) %>
        </div>
        <h1><%= yield(:title) %></h1>
      </div>
    <% end %>
    
    <!-- <div class="row">
      <div class="col-lg-12" style="text-align: right">
        <% if user_signed_in? %>
          Hello <%= current_user.name %> (Roles: <%= current_user.roles.map{|role| role.name.to_s}.join(', ') %>)
        <% else %>
          (you are currently not logged in)
        <% end %>
      </div>
    </div> -->

    <%= yield %>
    <%= yield :scripts %><%# needed for gmaps4rails %>
    
    <footer class="window box">
      <p>&copy; Julien Seitz 2013</p>
    </footer>
    <div>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
