<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <%= render :partial => 'layouts/viewport' %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- this is necessary to prevent quirks mode in IE -->

  <% title = raw [content_for(:title), "Turngemeinde 1879 Traisa e.V."].compact.join(' - ') %>
  <title><%= title %></title>
  <meta name="description" content="Aktuelle Neuigkeiten und Informationen der TG 1879 Traisa e.V.">
  <meta name="Keywords" content="Traisa, Sport, Kultur, 25.06.02,TGT,tgt,TG TRAISA,TG Traisa,TG-TRAISA,TG-Traisa,TG 1879,TG Traisa Turngemeinde,Turngemeinde Traisa,Turngemeinde 1879 Traisa, Turngemeinde 1879 Traisa e.V.,Sport,Sportverein,Mühltal,Muehltal,Hessen,Handball,Turnen,Mutter und Kind,Vorstand,Leichtathletik, Basketball, Ski, Skigymnastik,Technik,Theater,Ohlebach,Ohlebach-Theater,Laien-Theater,Karneval,Fasching,Garde,Basketball,Beach,Beach-Volleyball,Volleyball,Kinder,Jugend,Jugendliche,Kurse,Aerobic,Wirbelsäulengymnastk,Kugelstossen,Weitsprung,Athletic,Hochsprung,Speerwurf,Diskus,Hürden,Lauf,Sprint,Mittelstrecke,Langstrecke,Staffel,Sportart,individual,Senioren,Hallensportfest,Wettkampf,Kooperation,Sponsoren,DAFÜR,Dafuer GmbH,Sport-Studio,Studio,Freizeit,Kinder,Technik,Licht,Ton, Amateurtheater, Laienspielgruppe, Ohlebach-Theater, Theater, Lustspiele, Komödien, Schauspieler, Laienspieler, Theatergruppe,
  Ortslauf, Ortskernlauf, Entega, Entega-Ortslauf, Mühltal, Bewegungsangebot, Kinder-Sport-Treff, Hallensportfest, NightRun" />

  <meta name='twitter:card' content='summary'> 

  <meta property='og:title' content='<%= title %>'/>

  <meta property='og:locale' content='de_DE'/>
  <meta property='og:image' content='<%= asset_url("tgt-social.png") %>' />
  <meta name='twitter:image' content='<%= asset_url("tgt-social.png") %>' />

  <!--
    http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013/
    https://developers.facebook.com/tools/debug/
    https://developers.google.com/+/web/snippet/
  -->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag session[:theme], media: "all", "data-turbolinks-track" => true %>
  <%= jquery_include_tag :google %>
  <%= jquery_ui_include_tag :google %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "_defer-bundle", "data-turbolinks-track" => true, :defer => "defer" %>
  <% if user_signed_in? %>
    <%= stylesheet_link_tag 'administration-bundle' %>
    <%= javascript_include_tag '_administration-bundle' %>
  <% end %>

  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%# http://stackoverflow.com/questions/14258273/can-i-use-javascript-include-tag-with-content-forhead-in-show-html-erb %>
</head>
<body>
  <style type="text/css">
    <%# Needs to be inside body - otherwise it will be cached by turbolinks %>
    <% @current_theme ||= Theme.new %>
    <%= render_cell(:stylesheet, :show, :color => @current_theme.color) if @current_theme.present? %>
  </style>
  <%= render 'layouts/navigation' %>

  <div class="container">

    <%= render :partial => "layouts/header" %>
      
    <div class="pageContent">
      <% if @department.present? && !@department.new_record? %>
        <%= render :partial => "layouts/department_navigation" %>
        <%= render_cell :banner, :show, :theme => @current_theme if @current_theme.present? %>
      <% elsif true %>
        <%= render_cell :home_cycle, :show, {:mobile => mobile_device?} %>
      <% end %>
      
      <%= render 'layouts/messages' %>

      <div id="alert-placeholder"></div>

      <%= yield %>
      <%= yield :scripts %><%# needed for gmaps4rails %>

      <%#= debug(params) if Rails.env.development? %>
    </div>
  </div>
  <%= render 'layouts/loading_modal' %>
</body>
</html>
