<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">-->
  <meta name="viewport" content="initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- this is necessary to prevent quirks mode in IE -->

  <% title = raw [content_for(:title), "Turngemeinde 1879 Traisa e.V."].compact.join(' - ') %>
  <title><%= title %></title>
  <meta name="description" content="Aktuelle Neuigkeiten und Informationen der TG 1879 Traisa e.V.">
  <meta name="Keywords" content="Traisa, Sport, Kultur, 25.06.02,TGT,tgt,TG TRAISA,TG Traisa,TG-TRAISA,TG-Traisa,TG 1879,TG Traisa Turngemeinde,Turngemeinde Traisa,Turngemeinde 1879 Traisa, Turngemeinde 1879 Traisa e.V.,Sport,Sportverein,Mühltal,Muehltal,Hessen,Handball,Turnen,Mutter und Kind,Vorstand,Leichtathletik, Basketball, Ski, Skigymnastik,Technik,Theater,Ohlebach,Ohlebach-Theater,Laien-Theater,Karneval,Fasching,Garde,Basketball,Beach,Beach-Volleyball,Volleyball,Kinder,Jugend,Jugendliche,Kurse,Aerobic,Wirbelsäulengymnastk,Kugelstossen,Weitsprung,Athletic,Hochsprung,Speerwurf,Diskus,Hürden,Lauf,Sprint,Mittelstrecke,Langstrecke,Staffel,Sportart,individual,Senioren,Hallensportfest,Wettkampf,Kooperation,Sponsoren,DAFÜR,Dafuer GmbH,Sport-Studio,Studio,Freizeit,Kinder,Technik,Licht,Ton, Amateurtheater, Laienspielgruppe, Ohlebach-Theater, Theater, Lustspiele, Komödien, Schauspieler, Laienspieler, Theatergruppe,
  Ortslauf, Ortskernlauf, Entega, Entega-Ortslauf, Mühltal, Bewegungsangebot, Kinder-Sport-Treff, Hallensportfest, NightRun" />

  <meta name='twitter:card' content='summary'> 

  <meta property='og:title' content='<%= title %>'/>

  <meta property='og:locale' content='de_DE'/>
  <meta property='og:image' content='<%= asset_url("tgt-social.png") %>' />
  <meta name='twitter:image' content='<%= asset_url("tgt-social.png") %>' />

  <!--
    http://www.iacquire.com/blog/18-meta-tags-every-webpage-should-have-in-2013/
    https://developers.facebook.com/tools/debug/
    https://developers.google.com/+/web/snippet/
  -->

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%# http://stackoverflow.com/questions/14258273/can-i-use-javascript-include-tag-with-content-forhead-in-show-html-erb %>
</head>
<body>
  <%= render 'layouts/navigation' %>

  <div class="container">

    <%= render :partial => "layouts/header" %>

    <% if user_signed_in? && Rails.env.production? %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Produktivumgebung!</strong> Bitte nutzen Sie die <a href="http://tgt.dyndns.info:8080/">Testumgebung</a> um Features auszuprobieren
      </div>
    <% elsif user_signed_in? && Rails.env.staging? %>
      <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Testumgebung</strong> Viel Spaß beim herumspielen - <a href="http://tgt.dyndns.info:8080/">zur Produktivumgebung</a>
      </div>
    <% end %>
      

    <div class="pageContent">
      <% if @department.present? %>
        <%= render :partial => "layouts/department_navigation" %>
      <% end %>
      
      <%= render 'layouts/messages' %>

      <%= yield %>
      <%= yield :scripts %><%# needed for gmaps4rails %>
    </div>
  </div>
</body>
</html>
