<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Turngemeinde 1879 Traisa e.V.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <%= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css', 'elfinder/elfinder.min', 'elfinder/theme' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', '//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js', 'elfinder/elfinder.min', 'elfinder/proxy/elFinderSupportVer1.js' %>

    <%# stylesheet_link_tag    "jquery.ui.all", 'elfinder/elfinder.min', 'elfinder/theme' %>
    <%# javascript_include_tag "jquery", 'jquery.ui.all', 'elfinder/elfinder.min', 'elfinder/proxy/elFinderSupportVer1.js' %>
    <%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "filemanager", media: "all", "data-turbolinks-track" => true %>
    <%#= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
