<%= inside_layout "application" do %>

  <% if content_for?(:buttons) %>
    <div class="window box highlighted">
      <div class="box-header">
        <div class="pull-right">
          <%= yield(:buttons) %>
        </div>
        <h2><%= yield(:title) %></h2>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
      <!-- <footer class="window box">
        <p>&copy; Julien Seitz 2013</p>
      </footer>
      <div>
        <%= debug(params) if Rails.env.development? %>
      </div> -->
      <%= render :partial => "layouts/version_information" %>
    </div>
  </div>
  
<% end %>