<%= inside_layout "application" do %>

  <% if content_for?(:title) %>
    <div class="window box">
      <div class="pull-right button-group">
        <%= yield(:buttons) %>
      </div>
      <h1><%= yield(:title) %></h1>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-12">
      <%= yield %>
      <footer class="window box">
        <p>&copy; Julien Seitz 2013</p>
      </footer>
      <div>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
  
<% end %>