<%= inside_layout "application" do %>

  <div class="row">
    <div class="col-sm-8">

      <% if content_for?(:title) %>
        <div class="window box">
          <div class="pull-right button-group">
            <%= yield(:buttons) %>
          </div>
          <h2><%= yield(:title) %></h2>
        </div>
      <% end %>


      <%= yield %>

      
      <!-- <footer class="window box">
        <p>&copy; Julien Seitz 2013</p>
      </footer>
      <div>
        <%= debug(params) if Rails.env.development? %>
      </div> -->
    </div>
    <div class="col-sm-4">
      <%= render :partial => "layouts/sidebar" %>
    </div>
  </div>

<% end %>